<div class="row-fluid" style="position: absolute; left: 0px; width: 100%; top: 100px; bottom:0; overflow-y: scroll;">
    <table class="table table-bordered table-striped" style="margin-bottom: 0">
        <thead>
            <tr class="info">
                <th style="min-width: 60px; width: 60px">№ пары</th>
                <th>Пн</th>
                <th>Вт</th>
                <th>Ср</th>
                <th>Чт</th>
                <th>Пт</th>
                <th>Сб</th>
                <th>Вс</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="pair in pairs">
                <td style="min-width: 60px; width:60px;">{{pair}}</td>
                <td class="day-content"
                    ng-repeat="day in days"
                    ng-class="{full: hasFullScheduleTicket(pair, day), even: hasEvenScheduleTicket(pair, day), odd: hasOddScheduleTicket(pair, day)}"
                    ng-click="creator.dayCellClick($event)"
                    data-drop="true"
                    data-jqyoui-options jqyoui-droppable="{onDrop: 'startPlaning(this, pair, day)'}">
                    <div class="schedule-card alert alert-success"
                         ng-repeat="schedule in findScheduleTickets(pair, day)"
                         ng-class="{even: isEvenScheduleTicket(schedule), odd: isOddScheduleTicket(schedule)}"
                         data-drag="true"
                         data-jqyoui-options="{containment: '#test2', revert: 'invalid', distance: 20}"
                         jqyoui-draggable="{animate:true, onStart: 'startDragging(scheduleInfo)', onStop: 'stopDragging()'}">
                        
                        <p style="margin: 0; color:red">
                            {{schedule.weekTypeName}}
                        </p>
                        <p style="margin: 0">
                            {{moment(schedule.time.start, 'HH:mm:ss').format('HH:mm')}}-{{moment(schedule.time.end, 'HH:mm:ss').format('HH:mm')}}
                        </p>
                        <p style="margin: 0">
                            {{schedule.tutorialName}}, {{schedule.tutorialTypeName}}., {{schedule.buildingName}}. {{schedule.auditoriumNumber}}
                        </p>
                        <p style="margin: 0">
                            {{schedule.lecturerName}}
                        </p>
                        <p style="margin: 0">
                            {{schedule.groupCodes.join()}}., {{schedule.subGroup}}
                        </p>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>