<div class="modal-dialog" style="width: 750px;" ng-controller="CreateEditUserModalController">
    <div class="modal-content">
        <div class="modal-header">
            <h5>Создание нового пользователя</h5>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" role="form" name="form">
                <div class="form-group" ng-class="{'has-error': form.login.$error.required}">
                    <label class="col-sm-3 control-label">Логин</label>
                    <div class="col-sm-8">
                        <input name="login" type="text" class="form-control" placeholder="Логин" ng-model="login" required="required">
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': form.password.$error.validator || form.password.$error.required}">
                    <label class="col-sm-3 control-label">Пароль</label>
                    <div class="col-sm-8">
                        <input name="password" type="password" class="form-control" placeholder="Пароль" ng-model="password" required="required">
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': form.confirmPassword.$error.validator || form.confirmPassword.$error.required}">
                    <label class="col-sm-3 control-label">Повтор пароля</label>
                    <div class="col-sm-8">
                        <input name="confirmPassword" type="password" class="form-control" placeholder="Повтор пароля" ng-model="confirmPassword" ui-validate=" '$value==password' " ui-validate-watch=" 'password' " required="required">
                    </div>
                </div>
                <hr />
                <div class="form-group" ng-class="{'has-error': form.lastname.$error.required}">
                    <label class="col-sm-3 control-label">Фамилия</label>
                    <div class="col-sm-8">
                        <input name="lastname" type="text" class="form-control" placeholder="Фамилия" ng-model="lastname" required="required">
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': form.firstname.$error.required}">
                    <label class="col-sm-3 control-label">Имя</label>
                    <div class="col-sm-8">
                        <input name="firstname" type="text" class="form-control" placeholder="Имя" ng-model="firstname" required="required">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Отчество</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" placeholder="Отчество" ng-model="middlename">
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <div class="pull-left text-danger" ng-hide='form.confirmPassword.$error.validator' ng-show="form.$invalid">
                <i class="glyphicon glyphicon-exclamation-sign"></i>&nbsp;<b>Поля, окрашенные красным, обязательны для заполнения</b>
            </div>
            <div class="pull-left text-danger" ng-show='form.confirmPassword.$error.validator'>
                <i class="glyphicon glyphicon-exclamation-sign"></i>&nbsp;<b>Пароли не совпадают</b>
            </div>
            <div class="pull-left text-danger" ng-show='message'>
                <i class="glyphicon glyphicon-exclamation-sign"></i>&nbsp;<b>{{message}}</b>
            </div>
            <button type="submit" ng-click="ok()" class="btn btn-success" ng-disabled="form.$invalid"><i class="icon-white icon-ok"></i> OK</button>
            <button class="btn" ng-click="cancel()">Отмена</button>
        </div>
    </div>
</div>