<div class="form-group col-sm-4 col-sm-offset-0" ng-init="loadTutorialTypes()">
<button class="btn btn-success" ng-click="showCreateTutorialTypeDialog()"><i class="glyphicon glyphicon-plus"></i> Создать тип предмета</button>
&nbsp;
</div>
<table class="table table-striped">
       <thead>
            <tr>
               <th>Название</th>
            </tr>
       </thead>
       <tbody>
            <tr ng-repeat="tutorialType in tutorialTypes">
               <td>{{tutorialType.name}}</td>
               <td class="col-sm-1">
                       <button class="btn btn-sm btn-warning" ng-click="edit(tutorialType)"><i class="glyphicon glyphicon-edit"></i></button>
                       <button class="btn btn-sm btn-danger" ng-click="delete(tutorialType)"><i class="glyphicon glyphicon-remove"></i></button>
               </td>
            </tr>
       </tbody>
</table>
            