<!-- Change Schedule Form -->
<div id="changescheduledialog" title="Сделать замену" class="ui-widget-content" style="z-index:9999; background-color:white; width: 180px;">
       <strong>Заменить:</strong> <br />
    
      <select style="width:30%;"  data-placeholder="Выберите день недели" class="span5" id="dayofweek1" data-bind="options: $root.daysOfweek, optionsText: 'Name', value: $root.currentDayOfweek">
            <option></option>
      </select>
      <input style="width:30%;"  placeholder="Выберите время..." class="span5" id="times" data-bind="click:
           $root.toDownDrop, value: $root.displayDayTimes" />
      <select style="width:30%;"  data-placeholder="Выберите тип недели" class="span5" id="weektype1" data-bind="options: $root.weekTypes, optionsText: 'Name', value: $root.currentWeekType">
            <option></option>
     </select> 

     <strong>На:</strong> <br />

     <select style="width:30%;"  data-placeholder="Выберите день недели" class="span5" id="dayofweek2" data-bind="options: $root.daysOfweek, optionsText: 'Name', value: $root.currentDayOfweek">
            <option></option>
      </select>
      <input style="width:30%;"  placeholder="Выберите время..." class="span5" id="times" data-bind="click: $root.toDownDrop, value: $root.displayDayTimes" />
      <select style="width:30%;"  data-placeholder="Выберите тип недели" class="span5" id="weektype2" data-bind="options: $root.weekTypes, optionsText: 'Name', value: $root.currentWeekType">
            <option></option>
     </select> 
</div>