<!-- Add Schedule Form -->
<div class="modal hide fade" id ="changeauditoriumdialog" style="width:400px; overflow-x:hidden;">
  <div class="modal-header" style="overflow-x:hidden;">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h5>Поменять аудиторию</h5>
  </div>
  <div class="modal-body" style="overflow-x:hidden;"> 
  <span>Тип аудитории</span>
  <select style="width:100%;"  data-placeholder="Выберите тип аудитории" class="span5" id="auditoriumtype1" data-bind="options: $root.auditoriumTypes, optionsText: 'Name', value: $root.currentAuditoriumType">
            <option></option>
  </select>

  <span>Новая аудитория</span>
  <select style="width:100%" data-placeholder="Выберите аудиторию" class="span5" id="auditorium2" data-bind="options: $root.auditoriums, optionsText: 'Number', value: $root.currentChangeAuditorium">
            <option></option>
  </select>
  </div>
  <div class="modal-footer" style="overflow-x:hidden;">
       <input type="button" class="btn btn-primary" value="Заменить" data-bind="click: $root.ChangeAuditoriumFormOkButton " />
       <input type="button" class="btn " value="Отмена" data-bind="click: $root.ChangeAuditoriumFormCancelButton " />
  </div>
</div>


