<!-- ko if: $root.currentFlowSelectForm() !== undefined -->
<div class="modal hide" id ="flowdialog" data-bind=" draggable: {handle: '.modal-header'}" style="cursor:move; width:250px; overflow-x:hidden; ">
    <div class="modal-header" style="overflow-x:hidden;">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h5>Выбор потока</h5>
    </div>
    <div class="modal-body" style="overflow-x:hidden; overflow-y:hidden;">
            <select style="width:100%" class="span5" id="" data-bind="options: $root.currentFlowSelectForm().branches, optionsText: 'Name', value: $root.currentFlowSelectForm().currentBranch">
                            <option></option>
            </select>

            <select style="width:100%" class="span5" id="" data-bind="options: $root.currentFlowSelectForm().faculties, optionsText: 'Name', value: $root.currentFlowSelectForm().currentFaculty">
                            <option></option>
            </select>

            <select multiple style="width:100%" size="4" class="span5" id="" data-bind="options: $root.currentFlowSelectForm().courses, optionsText: 'Name', selectedOptions: $root.currentFlowSelectForm().currentCourses">
                            <option></option>
            </select>

            <select multiple style="width:100%" size="5" class="span5" id="" data-bind="options: $root.currentFlowSelectForm().specialities, optionsText: 'Name', selectedOptions: $root.currentFlowSelectForm().currentSpecialities">
                            <option></option>
            </select>

            <select multiple style="width:100%" size="6" class="span5" id="" data-bind="options: $root.currentFlowSelectForm().groups, optionsText: 'Code', selectedOptions: $root.currentFlowSelectForm().currentGroups">
                            <option></option>
            </select>
    </div>
    <div class="modal-footer" style="overflow-x:hidden;">
        <input id="selectFlowOkButton" type="button" class="btn btn-primary" value="Продолжить" data-bind="" />
    </div>
</div>

<!-- /ko --> 

