@{
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="brand" href="#">Расписание ПетрГУ</a>
            <ul class="nav">
                <li class="active"><a href="#">Создание расписаний</a></li>
                <li><a href="#groups">Расписание групп</a></li>
                <li><a href="#lecturers">Расписание преподавателей</a></li>
                <li><a href="#auditoriums">Расписание аудиторий</a></li>
            </ul>
        </div>
    </div>
</div>
<div id="content" ng-view style="margin-top: 40px;">
</div>











