@{
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-inner">
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Создание расписаний</a></li>
            <li><a href="#groups">Расписание групп</a></li>
            <li><a href="#lecturers">Расписание преподавателей</a></li>
            <li><a href="#auditoriums">Расписание аудиторий</a></li>
        </ul>
    </div>
</nav>
<div id="content" ng-view style="margin-top: 41px;">
</div>








