<!-- Add Schedule Form -->
<!-- ko if: $root.currentScheduleSelectForm() !== undefined -->
<!-- ko if: $root.currentScheduleSelectForm().currentScheduleAddForm() !== undefined -->
<div class="modal hide fade" id ="adddialog" data-bind=" draggable: {handle: '.modal-header'}" style="cursor:move; width:400px; overflow-x:hidden;">
    <div class="modal-header" style="overflow-x:hidden;">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h5>Добавить занятие</h5>
    </div>
    <div class="modal-body" style="overflow-x:hidden;">

        <!-- ko if: $root.currentScheduleSelectForm().currentScheduleAddForm().scheduleInfo() !== undefined -->
      

         
        <table>
              <tr>
                <th style="text-align:left;"><strong>Идет с</strong></th>
                <th style="text-align:left;"><strong>Идет по</strong></th>
              </tr>
            <tr>
                <td>
                <input style="width:150px; height:30px;" type="date" id="startDate" data-bind="value:$root.currentScheduleSelectForm().currentScheduleAddForm().startDate, valueUpdate: 'blur'"/> 
                </td>
                <td>
                <input  style="width:150px; height:30px;" type="date" id="endDate" data-bind="value:$root.currentScheduleSelectForm().currentScheduleAddForm().endDate, valueUpdate: 'blur'" />
                </td>
               </tr>
          </table>
        
        <input type="checkbox" id="delAfter" data-bind="checked: $root.currentScheduleSelectForm().currentScheduleAddForm().autoDelete" /> 
        <strong>удалить после истечения срока ?</strong>
        <br />
        
        <strong>День недели</strong>
        <select style="width:100%"  data-placeholder="Выберите день недели" class="span5" id="dayofweek" data-bind="options: $root.currentScheduleSelectForm().currentScheduleAddForm().days, optionsText: 'Name', value: $root.currentScheduleSelectForm().currentScheduleAddForm().currentDay">
            <option></option>
        </select>

        <strong>Тип недели</strong>
        <select style="width:100%"  data-placeholder="Выберите тип недели" class="span5" id="weektype" data-bind="options: $root.currentScheduleSelectForm().currentScheduleAddForm().weekTypes, optionsText: 'Name', value: $root.currentScheduleSelectForm().currentScheduleAddForm().currentWeekType">
            <option></option>
        </select>

        <strong>Время</strong>     
        <select style="width:100%" data-placeholder="Выберите время" class="span5" id="times" data-bind="options: $root.currentScheduleSelectForm().currentScheduleAddForm().times, optionsText: 'StartEnd', value: $root.currentScheduleSelectForm().currentScheduleAddForm().currentTime">
            <option></option>
        </select>
 
        <strong>Тип аудитории</strong>
        <select style="width:100%"  data-placeholder="Выберите тип аудитории" class="span5" id="auditoriumType" data-bind="options: $root.currentScheduleSelectForm().currentScheduleAddForm().auditoriumTypes, optionsText: 'Name', value: $root.currentScheduleSelectForm().currentScheduleAddForm().currentAuditoriumType">
            <option></option>
        </select>

        <strong>Аудитория</strong>
        <select style="width:100%"  data-placeholder="Выберите аудиторию" class="span5" id="auditorium" data-bind="options: $root.currentScheduleSelectForm().currentScheduleAddForm().auditoriums, optionsText: 'Number', value: $root.currentScheduleSelectForm().currentScheduleAddForm().currentAuditorium">
            <option></option>
        </select>



        <strong>Подгруппа</strong>
        <select style="width:100%"  data-placeholder="Выберите подгруппу" class="span5" id="subgroup" data-bind="options: $root.currentScheduleSelectForm().currentScheduleAddForm().subGroups, value: $root.currentScheduleSelectForm().currentScheduleAddForm().currentSubGroup">
            <option></option>
        </select>
        
        <!-- /ko -->  
        <!-- ko if: $root.currentScheduleSelectForm().currentScheduleAddForm().scheduleInfo() == undefined -->
        <strong>Для добавления занятия сначала выберите сведение к расписанию</strong>
        <!-- /ko --> 

    </div>

    <div class="modal-footer" style="overflow-x:hidden;">
            <input id="addScheduleOkButton" type="button" class="btn btn-primary" value="Добавить" data-bind="click: $root.currentScheduleSelectForm().currentScheduleAddForm().addButtonPress.bind($data,true)" />
            <a id="addScheduleCancelButton" style="cursor:pointer;" data-bind="click: $root.currentScheduleSelectForm().currentScheduleAddForm().closeDialog.bind($data,true)" > Отмена</a>
    </div>
</div>
 <!-- /ko -->  
<!-- /ko -->