

<!-- Schedule Select Modal Form -->
<!-- ko if: $root.currentScheduleSelectForm() !== undefined -->
<div id="ssheader" style="margin-top:50px; width:100%; overflow-x:hidden;">
        @Content.Navbar("scheduleCreateLink", this)
        <div style="float:left; padding-left:5px;">
            <table>
              <tr>
                <th>Здание</th>
                <th>Тип недели</th>
                <th>Подгруппа</th>
                <th>Идут с</th>
                <th>Идут по</th>
                <th></th>
              </tr>
            <tr>
                <td>
                <select style="width:110px;"  data-placeholder="Выберите здание" class="span5" id="buildings1" data-bind="options: $root.currentScheduleSelectForm().buildings, optionsText: 'Name', value: $root.currentScheduleSelectForm().currentBuilding">
                        <option></option>
                </select>
                </td>
                <td>
                <select style="width:110px;"  data-placeholder="Выберите тип недели" class="span5" id="weekTypes1" data-bind="options: $root.currentScheduleSelectForm().weekTypes, optionsText: 'Name', value: $root.currentScheduleSelectForm().currentWeekType">
                        <option></option>
                </select>
                </td>
                <td>
                <select style="width:110px;"  data-placeholder="Выберите подгруппу" class="span5" id="subGroups1" data-bind="options: $root.currentScheduleSelectForm().subGroups, value: $root.currentScheduleSelectForm().currentSubGroup">
                        <option></option>
                </select>
                </td>
                <td>
                <input style="width:150px; height:30px;" type="date" id="startDate" data-bind="value:$root.currentScheduleSelectForm().startTime, valueUpdate: 'blur'"/> 
                </td>
                <td>
                <input  style="width:150px; height:30px;" type="date" id="endDate" data-bind="value:$root.currentScheduleSelectForm().endTime, valueUpdate: 'blur'" />
                </td>
                <td>
                    <div class="btn-group" style="float:left; margin-bottom:9px; margin-left:20px;">
                        <input  type="button"  id="add" class="btn btn-primary disabled" value="Запланировать" data-bind="" />
                        <input  type="button"  id="del" class="btn disabled" value="Снять занятие" data-bind="" />
                        <input  type="button"  id="changeAuditorium" class="btn disabled" value="Изменить занятие" data-bind="" />
                        <input  type="button"  id="freeAuditorium" class="btn disabled" value="Доступные ауд." data-bind="" />
                    </div>
                    <div class="btn-group" style="margin-bottom:9px;">    
                            <button type="button"  id="printSchedule" class="btn" value="Сформировать отчет" data-bind="" > <i class="icon-print"></i>Сформировать отчет</button>
                    </div>
                </td>
               </tr>
          </table>
        </div>
        
</div>

<div id="ssdialogintable" style="overflow-y:hidden; overflow-x:hidden;">
    <ul class="nav nav-tabs" style="margin-bottom:0px;">

        <li><a href="#ssdialogintable2" data-toggle="tab" data-bind="text: $root.currentScheduleSelectForm().title">
        </a></li>
    </ul>

<div class="tab-content">

<div  class="tab-pane active"  id ="ssdialogintable2" style="cursor:move; width:1250px; overflow-x:hidden;" data-bind="">
        
       

       <table class="table table-bordered table-striped">
            <thead>

              <tr data-bind="foreach: $root.currentScheduleSelectForm().days">
                <!-- ko if: $index() == 0 -->
                <th><strong>Время</strong></th>
                <!-- /ko --> 
                <!-- ko if: $index() !== 0 -->
                <th><strong data-bind="text: $root.currentScheduleSelectForm().days()[$index()].Name"></strong></th>
                <!-- /ko --> 
              </tr>
            </thead>
            <tbody data-bind="foreach:$root.currentScheduleSelectForm().times, event:{mouseout: $root.currentScheduleSelectForm().mouseOutBacket.bind($data,true)}" style="cursor:pointer;">   
                 <tr data-bind="foreach: $root.currentScheduleSelectForm().days">
                     <!-- ko if: $index() == 0 -->
                     <td style=""><strong data-bind="text:$root.currentScheduleSelectForm().times()[$parentContext.$index()].StartEnd"></strong></td>
                     <!-- /ko --> 
                     <!-- ko if: $index() !== 0 -->
                     <td style="min-width:195px; height:180px; padding:0px;">
                          <div data-bind="css:{blockedBacket: $root.currentScheduleSelectForm().blockedRows()[$parentContext.$index()], 
                                              preselectedBacket: $root.currentScheduleSelectForm().preselectedBacketIndexes().row == $parentContext.$index() && 
                                                                 $root.currentScheduleSelectForm().preselectedBacketIndexes().col == $index() &&
                                                                 $root.currentScheduleSelectForm().preselectedBacketIndexes().wt == 0 &&
                                                                 !$root.currentScheduleSelectForm().blockedRows()[$parentContext.$index()],
                                              clickedBacket: !$root.currentScheduleSelectForm().blockedRows()[$parentContext.$index()] &&
                                                              $root.currentScheduleSelectForm().clickedBacketIndexes().row == $parentContext.$index() && 
                                                              $root.currentScheduleSelectForm().clickedBacketIndexes().col == $index() &&
                                                              $root.currentScheduleSelectForm().clickedBacketIndexes().wt == 0},

                                              event:{mouseover: $root.currentScheduleSelectForm().preselectBacket.bind($data,true,$parentContext.$index(), $index(), 0),
                                                     click: $root.currentScheduleSelectForm().clickBacketLeft.bind($data, true, $parentContext.$index(), $index(), 0),
                                                     contextmenu: $root.currentScheduleSelectForm().clickBacketRight.bind($data, true, $parentContext.$index(), $index(), 0),
                                                     dblclick: $root.currentScheduleSelectForm().doubleClickBacket.bind($data, true, $parentContext.$index(), $index(), 0)},
                                              droppable: {drop: $root.currentScheduleSelectForm().dropBacket.bind($data, true, $parentContext.$index(), $index(), 0),  
	                                                       accept: '.Schedule, .scheduleInfo',  
	                                                       over: $root.currentScheduleSelectForm().overBacket.bind($data, true, $parentContext.$index(), $index(), 0), 
	                                                       out: $root.currentScheduleSelectForm().outBacket.bind($data, true)}" style="margin:0px; height:60px;">

                                         <span class ="indexes hide" data-bind="text:$parentContext.$index() + ' ' + $index() + ' 0' "></span>

                                        <!-- ko if: $root.currentScheduleSelectForm().schedules()[$parentContext.$index()] !== undefined -->
                                        <!-- ko if: $root.currentScheduleSelectForm().schedules()[$parentContext.$index()]()[$index()] !== undefined -->
                                        <!-- ko if: $root.currentScheduleSelectForm().schedules()[$parentContext.$index()]()[$index()]() !== undefined -->
                                        <!-- ko if: $root.currentScheduleSelectForm().schedules()[$parentContext.$index()]()[$index()]()[0]() !== undefined -->
                                       
                                        <div class="Schedule" data-bind="css:{blockedSchedule: $root.currentScheduleSelectForm().blockedRows()[$parentContext.$index()],
                                                                              clickedSchedule: $root.currentScheduleSelectForm().clickedSchedule() == $root.currentScheduleSelectForm().schedules()[$parentContext.$index()]()[$index()]()[0]() &&
                                                                                               !$root.currentScheduleSelectForm().blockedRows()[$parentContext.$index()],
                                                                              preselectedSchedule: $root.currentScheduleSelectForm().preselectedSchedule() == $root.currentScheduleSelectForm().schedules()[$parentContext.$index()]()[$index()]()[0]() &&
                                                                                                   !$root.currentScheduleSelectForm().blockedRows()[$parentContext.$index()],
                                                                              unselectedSchedule:  !$root.currentScheduleSelectForm().blockedRows()[$parentContext.$index()] &&
                                                                                                    $root.currentScheduleSelectForm().preselectedSchedule() != $root.currentScheduleSelectForm().schedules()[$parentContext.$index()]()[$index()]()[0]() &&
                                                                                                    $root.currentScheduleSelectForm().clickedSchedule() != $root.currentScheduleSelectForm().schedules()[$parentContext.$index()]()[$index()]()[0]()},
                                                                         event:{mouseover: $root.currentScheduleSelectForm().preselectSchedule.bind($data,true,$parentContext.$index(), $index(), 0),
                                                                                click: $root.currentScheduleSelectForm().clickScheduleLeft.bind($data, true, $parentContext.$index(), $index(), 0),
                                                                                contextmenu: $root.currentScheduleSelectForm().clickScheduleRight.bind($data, true, $parentContext.$index(), $index(), 0),
                                                                                mouseout: $root.currentScheduleSelectForm().mouseOutSchedule.bind($data,true)},
                                                                         draggable: { 
                                                                                helper:'clone',
                                                                                opacity: 0.7,
                                                                                start: $root.currentScheduleSelectForm().startDragSchedule.bind($data, true, $parentContext.$index(), $index(), 0),
                                                                                stop: $root.currentScheduleSelectForm().stopDragSchedule.bind($data, true, $parentContext.$index(), $index())}" style="margin:0px; width:195px; height: 60px; border:solid 2px; border-color:darkgray;">
                                                
                                                <div style="float:right; right:0px; top:0px; margin-right: 2px;">    
                                                    <strong data-bind="text: '#' + $root.currentScheduleSelectForm().schedules()[$parentContext.$index()]()[$index()]()[0]().AuditoriumNumber"></strong>
                                                </div>
                                                <div style="float:left; color:green; left:0px; top:0px; margin-left: 5px;">
                                                    <strong data-bind="text: $root.currentScheduleSelectForm().schedules()[$parentContext.$index()]()[$index()]()[0]().WeekTypeName">&nbsp;&nbsp;</strong>
                                                </div>

                                                <span  data-bind="text: $root.currentScheduleSelectForm().schedules()[$parentContext.$index()]()[$index()]()[0]().LecturerName"></span>
                                                <span  data-bind="text: $root.currentScheduleSelectForm().schedules()[$parentContext.$index()]()[$index()]()[0]().TutorialName"></span>
                                                <span  data-bind="text: $root.currentScheduleSelectForm().schedules()[$parentContext.$index()]()[$index()]()[0]().TutorialTypeName"></span>
                                                <span  data-bind="text: $root.currentScheduleSelectForm().schedules()[$parentContext.$index()]()[$index()]()[0]().GroupNames"></span>
                                                
                                                 <!-- ko if: $root.currentScheduleSelectForm().schedules()[$parentContext.$index()]()[$index()]()[0]().SubGroup !== undefined && 
                                                             $root.currentScheduleSelectForm().schedules()[$parentContext.$index()]()[$index()]()[0]().SubGroup !== null -->
                                                <span  data-bind="text: $root.currentScheduleSelectForm().schedules()[$parentContext.$index()]()[$index()]()[0]().SubGroup"></span>
                                                <!-- /ko --> 
                                        </div> 
                                        <!-- /ko --> 
                                        <!-- /ko --> 
                                        <!-- /ko --> 
                               
                                        <!-- /ko -->
                         </div>
                          <div data-bind="css:{blockedBacket: $root.currentScheduleSelectForm().blockedRows()[$parentContext.$index()], 
                                              preselectedBacket: $root.currentScheduleSelectForm().preselectedBacketIndexes().row == $parentContext.$index() && 
                                                                 $root.currentScheduleSelectForm().preselectedBacketIndexes().col == $index() &&
                                                                 $root.currentScheduleSelectForm().preselectedBacketIndexes().wt == 1 &&
                                                                 !$root.currentScheduleSelectForm().blockedRows()[$parentContext.$index()],
                                              clickedBacket: !$root.currentScheduleSelectForm().blockedRows()[$parentContext.$index()] &&
                                                              $root.currentScheduleSelectForm().clickedBacketIndexes().row == $parentContext.$index() && 
                                                              $root.currentScheduleSelectForm().clickedBacketIndexes().col == $index() &&
                                                              $root.currentScheduleSelectForm().clickedBacketIndexes().wt == 1},

                                              event:{mouseover: $root.currentScheduleSelectForm().preselectBacket.bind($data,true,$parentContext.$index(), $index(), 1),
                                                     click: $root.currentScheduleSelectForm().clickBacketLeft.bind($data, true, $parentContext.$index(), $index(), 1),
                                                     contextmenu: $root.currentScheduleSelectForm().clickBacketRight.bind($data, true, $parentContext.$index(), $index(), 1),
                                                     dblclick: $root.currentScheduleSelectForm().doubleClickBacket.bind($data, true, $parentContext.$index(), $index(), 1)},
                                               droppable: {drop: $root.currentScheduleSelectForm().dropBacket.bind($data, true, $parentContext.$index(), $index(), 1),  
	                                                       accept: '.Schedule, .scheduleInfo',   
	                                                       over: $root.currentScheduleSelectForm().overBacket.bind($data, true, $parentContext.$index(), $index(), 1), 
	                                                       out: $root.currentScheduleSelectForm().outBacket.bind($data, true)}" style="margin:0px; height:60px;">

                                         <span class ="indexes hide" data-bind="text:$parentContext.$index() + ' ' + $index() + ' 1' "></span>

                                        <!-- ko if: $root.currentScheduleSelectForm().schedules()[$parentContext.$index()] !== undefined -->
                                        <!-- ko if: $root.currentScheduleSelectForm().schedules()[$parentContext.$index()]()[$index()] !== undefined -->
                                        <!-- ko if: $root.currentScheduleSelectForm().schedules()[$parentContext.$index()]()[$index()]() !== undefined -->
                                        <!-- ko if: $root.currentScheduleSelectForm().schedules()[$parentContext.$index()]()[$index()]()[1]() !== undefined -->
                                        
                                        <div class="Schedule" data-bind="css:{blockedSchedule: $root.currentScheduleSelectForm().blockedRows()[$parentContext.$index()],
                                                                              clickedSchedule: $root.currentScheduleSelectForm().clickedSchedule() == $root.currentScheduleSelectForm().schedules()[$parentContext.$index()]()[$index()]()[1]() &&
                                                                                               !$root.currentScheduleSelectForm().blockedRows()[$parentContext.$index()],
                                                                              preselectedSchedule: $root.currentScheduleSelectForm().preselectedSchedule() == $root.currentScheduleSelectForm().schedules()[$parentContext.$index()]()[$index()]()[1]() &&
                                                                                                   !$root.currentScheduleSelectForm().blockedRows()[$parentContext.$index()],
                                                                              unselectedSchedule:  !$root.currentScheduleSelectForm().blockedRows()[$parentContext.$index()] &&
                                                                                                    $root.currentScheduleSelectForm().preselectedSchedule() != $root.currentScheduleSelectForm().schedules()[$parentContext.$index()]()[$index()]()[1]() &&
                                                                                                    $root.currentScheduleSelectForm().clickedSchedule() != $root.currentScheduleSelectForm().schedules()[$parentContext.$index()]()[$index()]()[1]()},
                                                                         event:{mouseover: $root.currentScheduleSelectForm().preselectSchedule.bind($data,true,$parentContext.$index(), $index(), 1),
                                                                                click: $root.currentScheduleSelectForm().clickScheduleLeft.bind($data, true, $parentContext.$index(), $index(), 1),
                                                                                contextmenu: $root.currentScheduleSelectForm().clickScheduleRight.bind($data, true, $parentContext.$index(), $index(), 1),
                                                                                mouseout: $root.currentScheduleSelectForm().mouseOutSchedule.bind($data,true)},
                                                                         draggable: { 
                                                                                helper:'clone',
                                                                                opacity: 0.7,
                                                                                start: $root.currentScheduleSelectForm().startDragSchedule.bind($data, true, $parentContext.$index(), $index(), 1),
                                                                                stop: $root.currentScheduleSelectForm().stopDragSchedule.bind($data, true, $parentContext.$index(), $index())}" style="margin:0px; width:195px; height: 60px; border:solid 2px; border-color:darkgrey;">
                                                
                                                <div style="float:right; right:0px; top:0px; margin-right: 2px;">    
                                                    <strong data-bind="text: '#' + $root.currentScheduleSelectForm().schedules()[$parentContext.$index()]()[$index()]()[1]().AuditoriumNumber"></strong>
                                                </div>
                                                <div style="float:left; color:green; left:0px; top:0px; margin-left: 5px;">
                                                    <strong data-bind="text: $root.currentScheduleSelectForm().schedules()[$parentContext.$index()]()[$index()]()[1]().WeekTypeName">&nbsp;&nbsp;</strong>
                                                </div>

                                                <span  data-bind="text: $root.currentScheduleSelectForm().schedules()[$parentContext.$index()]()[$index()]()[1]().LecturerName"></span>
                                                <span  data-bind="text: $root.currentScheduleSelectForm().schedules()[$parentContext.$index()]()[$index()]()[1]().TutorialName"></span>
                                                <span  data-bind="text: $root.currentScheduleSelectForm().schedules()[$parentContext.$index()]()[$index()]()[1]().TutorialTypeName"></span>
                                                <span  data-bind="text: $root.currentScheduleSelectForm().schedules()[$parentContext.$index()]()[$index()]()[1]().GroupNames"></span>
                                                
                                                 <!-- ko if: $root.currentScheduleSelectForm().schedules()[$parentContext.$index()]()[$index()]()[1]().SubGroup !== undefined && 
                                                             $root.currentScheduleSelectForm().schedules()[$parentContext.$index()]()[$index()]()[1]().SubGroup !== null -->
                                                <span  data-bind="text: $root.currentScheduleSelectForm().schedules()[$parentContext.$index()]()[$index()]()[1]().SubGroup"></span>
                                                <!-- /ko --> 
                                        </div> 
                                        <!-- /ko --> 
                                        <!-- /ko --> 
                                        <!-- /ko --> 
                                        <!-- /ko --> 
                                        
                         </div>

                         <div data-bind="css:{blockedBacket: $root.currentScheduleSelectForm().blockedRows()[$parentContext.$index()], 
                                              preselectedBacket: $root.currentScheduleSelectForm().preselectedBacketIndexes().row == $parentContext.$index() && 
                                                                 $root.currentScheduleSelectForm().preselectedBacketIndexes().col == $index() &&
                                                                 $root.currentScheduleSelectForm().preselectedBacketIndexes().wt == 2 &&
                                                                 !$root.currentScheduleSelectForm().blockedRows()[$parentContext.$index()],
                                              clickedBacket: !$root.currentScheduleSelectForm().blockedRows()[$parentContext.$index()] &&
                                                              $root.currentScheduleSelectForm().clickedBacketIndexes().row == $parentContext.$index() && 
                                                              $root.currentScheduleSelectForm().clickedBacketIndexes().col == $index() &&
                                                              $root.currentScheduleSelectForm().clickedBacketIndexes().wt == 2},

                                              event:{mouseover: $root.currentScheduleSelectForm().preselectBacket.bind($data,true,$parentContext.$index(), $index(), 2),
                                                     click: $root.currentScheduleSelectForm().clickBacketLeft.bind($data, true, $parentContext.$index(), $index(), 2),
                                                     contextmenu: $root.currentScheduleSelectForm().clickBacketRight.bind($data, true, $parentContext.$index(), $index(), 2),
                                                     dblclick: $root.currentScheduleSelectForm().doubleClickBacket.bind($data, true, $parentContext.$index(), $index(), 2)},
                                               droppable: {drop: $root.currentScheduleSelectForm().dropBacket.bind($data, true, $parentContext.$index(), $index(), 2),  
	                                                       accept: '.Schedule, .scheduleInfo',   
	                                                       over: $root.currentScheduleSelectForm().overBacket.bind($data, true, $parentContext.$index(), $index(), 2), 
	                                                       out: $root.currentScheduleSelectForm().outBacket.bind($data, true)}" style="margin:0px; height:60px;">

                                         <span class ="indexes hide" data-bind="text:$parentContext.$index() + ' ' + $index() + ' 2' "></span>

                                        <!-- ko if: $root.currentScheduleSelectForm().schedules()[$parentContext.$index()] !== undefined -->
                                        <!-- ko if: $root.currentScheduleSelectForm().schedules()[$parentContext.$index()]()[$index()] !== undefined -->
                                        <!-- ko if: $root.currentScheduleSelectForm().schedules()[$parentContext.$index()]()[$index()]() !== undefined -->
                                        <!-- ko if: $root.currentScheduleSelectForm().schedules()[$parentContext.$index()]()[$index()]()[2]() !== undefined -->
                                        
                                        <div class="Schedule" data-bind="css:{blockedSchedule: $root.currentScheduleSelectForm().blockedRows()[$parentContext.$index()],
                                                                              clickedSchedule: $root.currentScheduleSelectForm().clickedSchedule() == $root.currentScheduleSelectForm().schedules()[$parentContext.$index()]()[$index()]()[2]() &&
                                                                                               !$root.currentScheduleSelectForm().blockedRows()[$parentContext.$index()],
                                                                              preselectedSchedule: $root.currentScheduleSelectForm().preselectedSchedule() == $root.currentScheduleSelectForm().schedules()[$parentContext.$index()]()[$index()]()[2]() &&
                                                                                                   !$root.currentScheduleSelectForm().blockedRows()[$parentContext.$index()],
                                                                              unselectedSchedule:  !$root.currentScheduleSelectForm().blockedRows()[$parentContext.$index()] &&
                                                                                                    $root.currentScheduleSelectForm().preselectedSchedule() != $root.currentScheduleSelectForm().schedules()[$parentContext.$index()]()[$index()]()[2]() &&
                                                                                                    $root.currentScheduleSelectForm().clickedSchedule() != $root.currentScheduleSelectForm().schedules()[$parentContext.$index()]()[$index()]()[2]()},
                                                                         event:{mouseover: $root.currentScheduleSelectForm().preselectSchedule.bind($data,true,$parentContext.$index(), $index(), 2),
                                                                                click: $root.currentScheduleSelectForm().clickScheduleLeft.bind($data, true, $parentContext.$index(), $index(), 2),
                                                                                contextmenu: $root.currentScheduleSelectForm().clickScheduleRight.bind($data, true, $parentContext.$index(), $index(), 2),
                                                                                mouseout: $root.currentScheduleSelectForm().mouseOutSchedule.bind($data,true)},
                                                                         draggable: { 
                                                                                helper:'clone',
                                                                                opacity: 0.7,
                                                                                start: $root.currentScheduleSelectForm().startDragSchedule.bind($data, true, $parentContext.$index(), $index(), 2),
                                                                                stop: $root.currentScheduleSelectForm().stopDragSchedule.bind($data, true, $parentContext.$index(), $index())}" style="margin:0px; width:195px; height: 60px; border:solid 2px; border-color:darkgrey;">
                                                
                                                <div style="float:right; right:0px; top:0px; margin-right: 2px;">    
                                                    <strong data-bind="text: '#' + $root.currentScheduleSelectForm().schedules()[$parentContext.$index()]()[$index()]()[2]().AuditoriumNumber"></strong>
                                                </div>
                                                <div style="float:left; color:green; left:0px; top:0px; margin-left: 5px;">
                                                    <strong data-bind="text: $root.currentScheduleSelectForm().schedules()[$parentContext.$index()]()[$index()]()[2]().WeekTypeName">&nbsp;&nbsp;</strong>
                                                </div>

                                                <span  data-bind="text: $root.currentScheduleSelectForm().schedules()[$parentContext.$index()]()[$index()]()[2]().LecturerName"></span>
                                                <span  data-bind="text: $root.currentScheduleSelectForm().schedules()[$parentContext.$index()]()[$index()]()[2]().TutorialName"></span>
                                                <span  data-bind="text: $root.currentScheduleSelectForm().schedules()[$parentContext.$index()]()[$index()]()[2]().TutorialTypeName"></span>
                                                <span  data-bind="text: $root.currentScheduleSelectForm().schedules()[$parentContext.$index()]()[$index()]()[2]().GroupNames"></span>
                                                
                                                 <!-- ko if: $root.currentScheduleSelectForm().schedules()[$parentContext.$index()]()[$index()]()[2]().SubGroup !== undefined && 
                                                             $root.currentScheduleSelectForm().schedules()[$parentContext.$index()]()[$index()]()[2]().SubGroup !== null -->
                                                <span  data-bind="text: $root.currentScheduleSelectForm().schedules()[$parentContext.$index()]()[$index()]()[2]().SubGroup"></span>
                                                <!-- /ko --> 
                                        </div> 
                                       
                                        <!-- /ko --> 
                                        <!-- /ko --> 
                                        <!-- /ko --> 
                                        <!-- /ko -->
                         </div>
                         
                     </td>
                     <!-- /ko --> 
                 </tr>           
            </tbody>
        </table>
</div>
</div>
</div>
<!-- /ko -->  
