<!--
<input style="width:100%" placeholder="Выберите подразделение" class="span5" id="branches" data-bind="click: $root.toDownDrop, value: $root.displayBranches" />     
 <input style="width:100%" placeholder="Выберите факультет" class="span5" id="faculties" data-bind="click: $root.toDownDrop, value: $root.displayFaculties" />
            
<input style="width:100%"  placeholder="Выберите курсы..." class="span5" id="courses" data-bind="click: $root.toDownDrop, value: $root.displayCourses" />
<input style="width:100%"  placeholder="Выберите специальности..." class="span5" id="specialities" data-bind="click: $root.toDownDrop, value: $root.displaySpecialities" />
<input style="width:100%"  placeholder="Выберите группы..." class="span5" id="groups" data-bind="click: $root.toDownDrop, value: $root.displayGroups" />
-->

<select style="width:100%" class="span5" id="branches1" data-bind="options: $root.branches, optionsText: 'Name', value: $root.currentBranches">
                <option></option>
</select>

<select style="width:100%" class="span5" id="faculties1" data-bind="options: $root.faculties, optionsText: 'Name', value: $root.currentFaculties">
                <option></option>
</select>

<select multiple style="width:100%" size="4" class="span5" id="courses1" data-bind="options: $root.courses, optionsText: 'Name', selectedOptions: $root.currentCourses">
                <option></option>
</select>

<select multiple style="width:100%" size="5" class="span5" id="specialities1" data-bind="options: $root.specialities, optionsText: 'Name', selectedOptions: $root.currentSpecialities">
                <option></option>
</select>

<select multiple style="width:100%" size="6" class="span5" id="groups" data-bind="options: $root.groups, optionsText: 'Code', selectedOptions: $root.currentGroups">
                <option></option>
</select>