@using Newtonsoft.Json
<div class="navbar navbar-fixed-top" style="top:41px;">
    <div class="navbar-inner">
        <div class="container">
            <form class="navbar-search pull-left">
                <select class="span5" required="required" ng-change="buildingChanged()" ng-model="building" ng-options="building.Id as building.Name for building in pageModel.Buildings"></select>
                <select class="span2" required="required" ng-change="auditoriumTypeChanged()" ng-model="auditoriumType" ng-options="auditoriumType.Id as auditoriumType.Name for auditoriumType in pageModel.AuditoriumTypes"></select>
                <select class="span2" required="required" ng-change="loadAuditoriumsSchedule()" ng-model="studyYear" ng-options="studyYear.Id as studyYear.Name for studyYear in pageModel.StudyYears"></select>
                <select class="span2" required="required" ng-change="loadAuditoriumsSchedule()" ng-model="semester" ng-options="semester.Id as semester.Name for semester in pageModel.Semesters"></select>
            </form>
        </div>
    </div>
</div>

<script type="text/ng-template" id="description.html">
    <span>{{selectedSchedule.TutorialName}}</span>,
    <span>{{selectedSchedule.LecturerName}}</span>
</script>

<div class="container-fluid">
    <div class="row-fluid" style="position: absolute; left: 0; top: 90px; bottom:0; overflow-y: scroll;">
        <table class="table table-bordered table-striped general" style="margin-bottom: 0">
            <thead>
                <tr class="info">
                    <th style="min-width: 60px; width: 60px">№</th>
                    <th style="min-width: 100px; width: 100px">Время</th>
                    <th class="span3">Пн</th>
                    <th class="span3">Вт</th>
                    <th class="span3">Ср</th>
                    <th class="span3">Чт</th>
                    <th class="span3">Пт</th>
                    <th class="span3">Сб</th>
                    <th class="span3">Вс</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="auditorium in auditoriums">
                    <td style="min-width: 60px; width:60px;">{{auditorium.Number}}</td>
                    <td colspan="8" style="padding: 0">
                        <table class="table table-bordered table-striped" style="margin: 0; border-radius: 0">
                            <tr ng-repeat="time in times">
                                <td style="min-width: 99px; width: 99px;">{{moment(time.Start, 'HH:mm:ss').format('HH:mm')}} - {{moment(time.End, 'HH:mm:ss').format('HH:mm')}}</td>
                                <td ng-repeat="day in days"
                                    class="span3"
                                    style="padding: 1px"
                                    ng-class="{full: hasFullScheduleTicket(time, day), even: hasEvenScheduleTicket(time, day), odd: hasOddScheduleTicket(time, day)}">
                                    <div ng-repeat="schedule in findScheduleTickets(time, day)"
                                         ng-class="{'alert alert-error': isBusy(auditorium, day, time), even: isEvenScheduleTicket(schedule), odd: isOddScheduleTicket(schedule)}"
                                         ng-click="description(schedule)"
                                         data-unique="1" 
                                         data-placement="top" 
                                         bs-popover="'description.html'"
                                         style="margin: 1px; padding: 0;">
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script>
    window.pageModel = JSON.parse('@Html.Raw(JsonConvert.SerializeObject(Model))');
</script>
