@using Timetable.Site.Infrastructure
<nav class="navbar navbar-default navbar-fixed-top navbar-child" role="navigation" style="top:51px;">
    <div class="navbar-inner">
        <div class="container">
            <form class="navbar-form navbar-left">
                <div class="form-group col-sm-4">
                    <select class="form-control" required="required" ng-change="loadAuditoriums(building)" ng-model="building" ng-options="building.id as building.name for building in pageModel.buildings" ></select>
                </div>
                <div class="form-group col-sm-3">
                    <select class="form-control" required="required" ng-change="loadAuditoriumSchedule()" ng-model="auditorium" ng-options="building.id as building.name for building in auditoriums"></select>
                </div>
                <div class="form-group col-sm-2">
                    <select class="form-control" required="required" ng-change="loadAuditoriumSchedule()" ng-model="studyYear" ng-options="studyYear.id as studyYear.name for studyYear in pageModel.studyYears"></select>
                </div>
                <div class="form-group col-sm-2">
                    <select class="form-control" required="required" ng-change="loadAuditoriumSchedule()" ng-model="semester" ng-options="semester.id as semester.name for semester in pageModel.semesters"></select>
                </div>
                <div class="form-group col-sm-1">
                    <button class="btn btn-default" data-original-title ng-click="getReportForAuditorium()"><i class="glyphicon glyphicon-download-alt"></i></button>
                </div>
            </form>
        </div>
    </div>
</nav>
<div class="container-fluid">
    @Html.Partial("_")
</div>
@{ var model = new JsonNetResult(Model); }
<script>
    window.pageModel = JSON.parse('@Html.Raw(model.JsonText)');
</script>
