@using Newtonsoft.Json
<script>
    window.pageModel = JSON.parse('@Html.Raw(JsonConvert.SerializeObject(Model))');
</script>

<div class="navbar navbar-fixed-top" style="top:41px;">
    <div class="navbar-inner">
        <div class="container-fluid">
            <ul class="nav pull-left">
                <li>
                    <a><b>Сведения к расписанию для потока</b></a>
                </li>
            </ul>
            <ul class="nav pull-right">
                <li>
                    <a>
                        Параметры потока:
                        <b>{{thread.getBranchName()}}</b>,
                        <b>{{thread.faculty.Name}}</b>,
                        <span ng-repeat="course in thread.courses"><b>{{course.Name}}</b> </span>,
                        <span ng-repeat="group in thread.groups"><b>{{group.Code}}</b> </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container-fluid" style="padding-right: 0; padding-left: 0;">
    <div class="row-fluid" style="margin-top: 5px;">
        <div class="span2">
            <div class="span2 affix" style="padding-left: 5px;">

                <ul ng-repeat="scheduleInfo in scheduleInfoes">
                    <li>

                    </li>
                </ul>
            </div>
        </div>
        <div class="span10" style="width: 84.97872340425532%">
            <table class="table table-bordered" style="margin-top:30px;">
                <thead>
                    <tr>
                        <th class="span1">Время</th>
                        <th>Пн</th>
                        <th>Вт</th>
                        <th>Ср</th>
                        <th>Чт</th>
                        <th>Пт</th>
                        <th>Сб</th>
                        <th>Вс</th>
                    </tr>
                </thead>
                <tbody ng-repeat="time in pageModel.Times">
                    <tr>
                        <td>{{time.Start}} - {{time.End}}</td>
                        <td class="day-content"></td>
                        <td class="day-content"></td>
                        <td class="day-content"></td>
                        <td class="day-content"></td>
                        <td class="day-content"></td>
                        <td class="day-content"></td>
                        <td class="day-content"></td>
                    </tr>
                </tbody>
            </table>
        </div><!--/span-->
    </div><!--/row-->
</div>
<div class="navbar navbar-fixed-bottom">
    <div class="navbar-inner">
        <div class="container-fluid">

            <ul class="nav pull-left">
                <li>
                    <a>
                        Параметры расписания:
                        <b>{{settings.getBuildingName()}}</b>,
                        <b>{{settings.getStudyYearName()}}</b>,
                        <b>{{settings.getSemesterName()}}</b>,
                        <b>{{settings.getWeekTypeName()}}</b>
                    </a>
                </li>
            </ul>
            <ul class="nav pull-right">
                <li class="divider-vertical"></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-edit"></i>
                        Параметры
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="" ng-click="settings.modal.show(this)">
                                <i class="icon-calendar"></i>
                                Расписание
                            </a>
                        </li>
                        <li>
                            <a href="" ng-click="thread.modal.show(this)">
                                <i class="icon-random"></i>
                                Поток
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

