@using Newtonsoft.Json
<div class="container-fluid" style="padding-right: 0; padding-left: 0;">
    <div class="row-fluid" style="margin-top: 5px;">
        <div class="span2">
            <div class="span2 affix" style="padding-left: 5px;">
                <b>Сведения к расписанию</b>
            </div>
        </div>
        <div class="span10" style="width: 84.97872340425532%;">
            <div class="span12" style="padding-left: 5px; margin-top:2px;">
                Параметры потока: <b>Мат.фак</b>
                &nbsp;<a class="btn btn-mini btn-success right" href="#scheduleInfoesModal" role="button" data-toggle="modal"><i class="icon-white icon-pencil"></i></a>
                &nbsp;&nbsp;&nbsp;
                Параметры расписание:
                &nbsp;<a class="btn btn-mini btn-success right" href="#timetableSettingsModal" role="button" data-toggle="modal"><i class="icon-white icon-pencil"></i></a>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="span1">Время</th>
                        <th>Пн</th>
                        <th>Вт</th>
                        <th>Ср</th>
                        <th>Чт</th>
                        <th>Пт</th>
                        <th>Сб</th>
                        <th>Вс</th>
                    </tr>
                </thead>
                <tbody ng-repeat="time in pageModel.Times">
                    <tr>
                        <td>{{time.Start}} - {{time.End}}</td>
                        <td class="day-content"></td>
                        <td class="day-content"></td>
                        <td class="day-content"></td>
                        <td class="day-content"></td>
                        <td class="day-content"></td>
                        <td class="day-content"></td>
                        <td class="day-content"></td>
                    </tr>
                </tbody>
            </table>
        </div><!--/span-->
    </div><!--/row-->
</div>
@Html.Partial("_SheduleInfoFilter.Modal")
@Html.Partial("_TimetableSettings.Modal")

<script>
    var pageModel = JSON.parse('@Html.Raw(JsonConvert.SerializeObject(Model))');
</script>