@using Newtonsoft.Json
<div class="container-fluid" style="padding-right: 0; padding-left: 0;">
    <div class="row-fluid" style="margin-top: 5px;">
        <div class="span2">
            <div class="span2 affix" style="padding-left: 5px; background-color: white">
                <b>Сведения к расписанию для потока</b>
                <ul ng-repeat="scheduleInfo in scheduleInfoes">
                    <li>
                        
                    </li>
                </ul>
            </div>
        </div>
        <div class="span10" style="width: 84.97872340425532%">
            <div class="span12 affix" style="padding-left: 5px; padding-top: 2px; background-color: white">
                Параметры потока:
                <b>{{thread.branch.Name}}</b>, 
                <b>{{thread.faculty.Name}}</b>, 
                <span ng-repeat="course in thread.courses"><b>{{course.Name}}</b> </span>,
                <span ng-repeat="group in thread.groups"><b>{{group.Code}}</b> </span>
                <a style="margin-top: 0" class="btn btn-mini btn-success right" href="#scheduleInfoesModal" role="button" data-toggle="modal"><i class="icon-white icon-pencil"></i></a>
            </div>
            <table class="table table-bordered" style="margin-top:30px;">
                <thead>
                    <tr>
                        <th class="span1">Время</th>
                        <th>Пн</th>
                        <th>Вт</th>
                        <th>Ср</th>
                        <th>Чт</th>
                        <th>Пт</th>
                        <th>Сб</th>
                        <th>Вс</th>
                    </tr>
                </thead>
                <tbody ng-repeat="time in pageModel.Times">
                    <tr>
                        <td>{{time.Start}} - {{time.End}}</td>
                        <td class="day-content"></td>
                        <td class="day-content"></td>
                        <td class="day-content"></td>
                        <td class="day-content"></td>
                        <td class="day-content"></td>
                        <td class="day-content"></td>
                        <td class="day-content"></td>
                    </tr>
                </tbody>
            </table>
        </div><!--/span-->
    </div><!--/row-->
</div>
<div class="navbar navbar-fixed-bottom">
    <div class="navbar-inner">
        <div class="container-fluid">

            <form class="navbar-form pull-right" style="margin-top: 7px">
                Параметры расписания: 
                <b>{{settings.building.Name}}</b>, 
                <b>{{settings.studyYear.Name}}</b>, 
                <b>{{settings.semestr.Name}}</b>, 
                <b>{{settings.weekType.Name}}</b> 
                <a style="margin-top: 0" class="btn btn-mini btn-success right" href="#timetableSettingsModal" role="button" data-toggle="modal"><i class="icon-white icon-pencil"></i></a>
            </form>
        </div>
    </div>
</div>

@Html.Partial("_SheduleInfoFilter.Modal")
@Html.Partial("_TimetableSettings.Modal")

<script>
    var pageModel = JSON.parse('@Html.Raw(JsonConvert.SerializeObject(Model))');
</script>