<div id="scheduleInfoesModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 id="myModalLabel">Настройки потока</h4>
    </div>
    <div class="modal-body">
        @*<ul class="nav nav-tabs">
            <li class="active"><a href="#byFaculty" data-toggle="tab">По факультетам</a></li>
            <li>@*<a href="#bySpeciality" data-toggle="tab">По специальностям</a></li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="byFaculty">*@
                <label>Филиал</label>
                <select class="span8" ng-model="threadModal.branch" ng-change="threadModal.changeBranch()" ng-options="branch.Name for branch in pageModel.Branches"></select>

                <label>Факультет</label>
                <select class="span8" ng-model="threadModal.faculty" ng-change="threadModal.changeFaculty()" ng-options="faculty.Name for faculty in threadModal.faculties"></select>

                <label>Курс</label>
                <select class="span8" multiple="multiple" ng-model="threadModal.selectedCourses" ng-change="threadModal.changeCourses()" ng-options="course.Name for course in threadModal.courses"></select>

                <label>Группа</label>
                <select class="span8" multiple="multiple" ng-model="threadModal.selectedGroups" ng-options="group.Code for group in threadModal.groups"></select>
            @* </div>
            <div class="tab-pane fade" id="bySpeciality">
                <label>Филиал</label>
                <select class="span8" ng-model="threadModal.branch" ng-change="threadModal.changeBranch()" ng-options="branch.Name for branch in pageModel.Branches"></select>

                <label>Специальность</label>
                <select class="span8" multiple="multiple" ng-model="threadModal.selectedSpecialities" ng-change="threadModal.changeCoursesAndSpecialities()" ng-options="speciality.Name for speciality in threadModal.specialities"></select>

                <label>Курс</label>
                <select class="span8" multiple="multiple" ng-model="threadModal.selectedCourses" ng-change="threadModal.changeCourses()" ng-options="course.Name for course in threadModal.courses"></select>

                <label>Группа</label>
                <select class="span8" multiple="multiple" ng-model="threadModal.selectedGroups" ng-options="group.Code for group in threadModal.groups"></select>
            </div>
        </div>*@
    </div>
    <div class="modal-footer">
        <a class="btn btn-success" data-dismiss="modal" aria-hidden="true" ng-click="threadModal.apply(threadModal)">Применить</a>&nbsp;
        <a data-dismiss="modal" aria-hidden="true">Закрыть</a>
    </div>
</div>