<div class="modal-header">
    <button type="button" class="close" ng-click="thread.modal.close()">×</button>
    <h4 id="myModalLabel">Настройки потока</h4>
</div>
<div class="modal-body">
    <label>Филиал</label>
    <select class="span8" ng-model="thread.modal.branch" ng-change="thread.modal.changeBranch()" ng-options="branch.Id as branch.Name for branch in thread.modal.branches"></select>

    <label>Факультет</label>
    <select class="span8" ng-model="thread.modal.faculty" ng-change="thread.modal.changeFaculty()" ng-options="faculty.Id as faculty.Name for faculty in thread.modal.faculties"></select>

    <label>Курс</label>
    <select class="span8" multiple="multiple" ng-model="thread.modal.selectedCourses" ng-change="thread.modal.changeCourses()" ng-options="course.Id as course.Name for course in thread.modal.courses"></select>

    <label>Группа</label>
    <select class="span8" multiple="multiple" ng-model="thread.modal.selectedGroups" ng-options="group.Id as group.Code for group in thread.modal.groups"></select>
</div>
<div class="modal-footer">
    <a class="btn btn-success" ng-click="thread.modal.apply(thread)">Применить</a>&nbsp;
    <button ng-click="thread.modal.close()">Закрыть</button>
</div>
