.row-fluid [class*="span"] {
    margin-left: 0.127659574468085%;
}

.table-bordered,
.table-bordered thead:first-child tr:first-child > th:first-child, 
.table-bordered tbody:first-child tr:first-child > td:first-child, 
.table-bordered tbody:first-child tr:first-child > th:first-child {
    border-radius: 0;
}

body #content .container-fluid .row-fluid .span12 .form-inline .control-group {
    margin-bottom: 0px;
}

.day-content {
    min-width: 195px;
    height: 180px;
    padding: 0px;
}

header, footer, nav, section {
    display: block;
}

.modal {
    width: 700px;
}

/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

.spinner {
    display: inline-block;
    width: 8px;
    height: 8px;
    position: relative;
    border: 2px solid rgb(255,255,255);
    border-top-color: transparent;
    border-radius: 100%;
    margin-right: 5px;
    -webkit-animation: spin 1s infinite linear;
    -moz-animation: spin 1s infinite linear;
    -ms-animation: spin 1s infinite linear;
    -o-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;
}

    .spinner:after {
        content: '';
        display: inline-block;
        width: 0;
        height: 0;
        position: absolute;
        top: -6px;
        left: 0px;
        border: 4px solid transparent;
        border-bottom-color: rgb(255,255,255);
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }


.left-menu {
    width: 150px;
    position: fixed;
    top: 100px;
    bottom: 0px;
    text-align: right;
    background-color: #fff;
    overflow: visible;
    z-index: 1;
    overflow-y: scroll;
}

    .left-menu .title {
        position: fixed;
        top: 76px;
        text-align: right;
        width: 135px;
        border-bottom: 1px solid #ccc;
        padding-right: 15px;
        padding-bottom: 5px;
    }

    .left-menu .nav > li > a {
        padding: 10px;
        color: #232323;
        border-bottom: 3px solid #FFF;
    }

    .left-menu .nav > li.active {
        background-color: #888;
        color: #fff;
    }

        .left-menu .nav > li.active a {
            color: #fff;
        }

    .left-menu .nav > li > a:hover {
        text-decoration: none;
        background-color: #CCC;
        color: #FFF;
    }

    .left-menu .nav > li:hover.light-yellow a,
    .left-menu .nav .active.light-yellow > a,
    .courses-list .nav > li:hover.light-yellow a,
    .courses-list .nav .active.light-yellow > a {
        border-bottom: 3px solid #F8EF81;
    }

    .left-menu .nav > li:hover.yellow a,
    .left-menu .nav .active.yellow > a,
    .courses-list .nav > li:hover.yellow a,
    .courses-list .nav .active.yellow > a {
        border-bottom: 3px solid #f4e647;
    }

    .left-menu .nav > li:hover.light-orange a,
    .left-menu .nav .active.light-orange > a,
    .courses-list .nav > li:hover.light-orange a,
    .courses-list .nav .active.light-orange > a {
        border-bottom: 3px solid #FCC985;
    }

    .left-menu .nav > li:hover.orange a,
    .left-menu .nav .active.orange > a,
    .courses-list .nav > li:hover.orange a,
    .courses-list .nav .active.orange > a {
        border-bottom: 3px solid #f89406;
    }

    .left-menu .nav > li:hover.light-green a,
    .left-menu .nav .active.light-green > a,
    .courses-list .nav > li:hover.light-green a,
    .courses-list .nav .active.light-green > a {
        border-bottom: 3px solid #86C187;
    }

    .left-menu .nav > li:hover.green a,
    .left-menu .nav .active.green > a,
    .courses-list .nav > li:hover.green a,
    .courses-list .nav .active.green > a {
        border-bottom: 3px solid #468847;
    }

    .left-menu .nav > li:hover.light-red a,
    .left-menu .nav .active.light-red > a,
    .courses-list .nav > li:hover.light-red a,
    .courses-list .nav .active.light-red > a {
        border-bottom: 3px solid #D59391;
    }

    .left-menu .nav > li:hover.red a,
    .left-menu .nav .active.red > a,
    .courses-list .nav > li:hover.red a,
    .courses-list .nav .active.red > a {
        border-bottom: 3px solid #b94a48;
    }

    .left-menu .nav > li:hover.light-blue a,
    .left-menu .nav .active.light-blue > a,
    .courses-list .nav > li:hover.light-blue a,
    .courses-list .nav .active.light-blue > a {
        border-bottom: 3px solid #59C9FF;
    }

    .left-menu .nav > li:hover.blue a,
    .left-menu .nav .active.blue > a,
    .courses-list .nav > li:hover.blue a,
    .courses-list .nav .active.blue > a {
        border-bottom: 3px solid #0088cc;
    }

    .left-menu .nav > li:hover.light-pink a,
    .left-menu .nav .active.light-pink > a,
    .courses-list .nav > li:hover.light-pink a,
    .courses-list .nav .active.light-pink > a {
        border-bottom: 3px solid #ECC8EC;
    }

    .left-menu .nav > li:hover.pink a,
    .left-menu .nav .active.pink > a,
    .courses-list .nav > li:hover.pink a,
    .courses-list .nav .active.pink > a {
        border-bottom: 3px solid pink;
    }

    .left-menu .nav > li:hover.light-purple a,
    .left-menu .nav .active.light-purple > a,
    .courses-list .nav > li:hover.light-purple a,
    .courses-list .nav .active.light-purple > a {
        border-bottom: 3px solid #AB82FF;
    }

    .left-menu .nav > li:hover.purple a,
    .left-menu .nav .active.purple > a,
    .courses-list .nav > li:hover.purple a,
    .courses-list .nav .active.purple > a {
        border-bottom: 3px solid purple;
    }

    .left-menu .nav > li:hover.light-tan a,
    .left-menu .nav .active.light-tan > a,
    .courses-list .nav > li:hover.light-tan a,
    .courses-list .nav .active.light-tan > a {
        border-bottom: 3px solid #D2B48C;
    }

    .left-menu .nav > li:hover.tan a,
    .left-menu .nav .active.tan > a,
    .courses-list .nav > li:hover.tan a,
    .courses-list .nav .active.tan > a {
        border-bottom: 3px solid #97694F;
    }

.courses-list {
    position: fixed;
    margin-left: 155px;
    height: 50px;
    width: 100%;
    background-color: #f1f1f1;
    z-index: 1;
}

    .courses-list .nav > li {
        display: inline-block;
    }

        .courses-list .nav > li > a {
            padding: 10px;
            color: #232323;
            border-bottom: 3px solid #F1F1F1;
        }

        .courses-list .nav > li.active {
            background-color: #888;
            color: #fff;
        }

            .courses-list .nav > li.active a {
                color: #fff;
            }

        .courses-list .nav > li > a:hover {
            text-decoration: none;
            background-color: #CCC;
            color: #FFF;
        }

.content {
    background-color: #fff;
    left: 150px;
    top: 133px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    border-left: 1px solid #CCCCCC;
    z-index: 5;
    overflow: auto;
}

    .content.full-page {
        left: 0px;
        top: 90px;
    }

    .content table td {
        vertical-align: top;
    }

    .content .table-bordered {
        /*border-radius: 0px;
        border-left: none;
        border-top-width: 1px;
        border-right: none;*/
    }

        .content .table-bordered th, .content .table-bordered td {
            text-align: center;
            /*border-left: none;
            border-right-width: 1px;
            border-right-color: #dddddd;
            border-right-style: solid;*/
        }

        .content .table-bordered td {
            text-align: left;
            padding: 10px;
            min-width: 170px;
        }

            .content .table-bordered th.active,
            .content .table-bordered td.active {
                background-color: #eeeeee;
            }

            .content .table-bordered td.selected,
            .selected {
                box-shadow: inset 0 0 10px #FFCC66;
            }

.status {
    position: fixed;
    right: 50%;
    top: 0px;
    padding: 5px 20px;
    z-index: 1000;
    background-color: rgba(175, 205, 97, 0.75);
    border-radius: 0 0 4px 4px;
    color: white;
}

.actions {
    background-color: #fff;
    position: fixed;
    width: 100%;
    z-index: 1;
    margin-left: 150px;
    margin-top: 40px;
    padding: 3px 0px 3px 10px;
    border-bottom: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
    border-radius: 6px 0 0 0;
}

    .actions.full-page {
        margin-left: 0px;
        margin-top: 0px;
        border-radius: 0px;
    }

.collapsed {
    display: none !important;
}

.offset05 {
    margin-left: 50px;
}

.brand {
    color: darkgrey !important;
}

.schedule-list {
    width: 150px;
    height: 100%;
    position: absolute;
    margin-top: 50px;
    right: 0;
    text-align: left;
    background-color: #f1f1f1;
    overflow: visible;
    z-index: 3;
}

    .schedule-list .nav > li {
        padding: 10px;
        color: #232323;
        border-bottom: 3px solid #F1F1F1;
    }

        .schedule-list .nav > li :hover {
            text-decoration: none;
            background-color: #CCC;
            color: #FFF;
        }

@media (max-width: 900px) {
    .collapsed {
        display: inline-block !important;
    }

    .status {
        right: 10px;
    }
}

.progress.progress-step {
    margin: 14px 17px 18px 14px;
    position: relative;
    overflow: visible;
}

.progress-step .step-full,
.progress-step .step-empty {
    height: 30px;
    width: 30px;
    background-color: #2ac7c4;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    position: absolute;
    left: 0%;
    margin-top: -6px;
    margin-left: -14px;
    font-size: 12pt;
    color: white;
    text-shadow: 0px 0px 3px #222;
    text-align: center;
    line-height: 28px;
    font-weight: bold;
}

.progress-step .step-empty {
    background-color: #f7f7f7;
    background-image: -moz-linear-gradient(top, #f5f5f5, #f9f9f9);
    background-image: -ms-linear-gradient(top, #f5f5f5, #f9f9f9);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#f9f9f9));
    background-image: -webkit-linear-gradient(top, #f5f5f5, #f9f9f9);
    background-image: -o-linear-gradient(top, #f5f5f5, #f9f9f9);
    background-image: linear-gradient(top, #f5f5f5, #f9f9f9);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#f9f9f9', GradientType=0);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.progress-step-square .step-full,
.progress-step-square .step-empty {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}



.progress .bar {
    width: 0%;
    height: 18px;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: width 0.6s ease;
    -moz-transition: width 0.6s ease;
    -ms-transition: width 0.6s ease;
    -o-transition: width 0.6s ease;
    transition: width 0.6s ease;
}

.progress .bar,
.progress .step-full {
    background-color: #26b6b3;
    background-image: -moz-linear-gradient(top, #c79b2a, #9d6721);
    background-image: -ms-linear-gradient(top, #c79b2a, #9d6721);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#c79b2a), to(#9d6721));
    background-image: -webkit-linear-gradient(top, #c79b2a, #9d6721);
    background-image: -o-linear-gradient(top, #c79b2a, #9d6721);
    background-image: linear-gradient(top, #c79b2a, #9d6721);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c79b2a', endColorstr='#9d6721', GradientType=0);
}

@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes spin {
    to {
        -moz-transform: rotate(360deg);
    }
}

@-ms-keyframes spin {
    to {
        -ms-transform: rotate(360deg);
    }
}

@-o-keyframes spin {
    to {
        -o-transform: rotate(360deg);
    }
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

​
