@using Timetable.Site.Infrastructure
@Html.Partial("_ChildNavbar")
<div class="container-fluid">
    @Html.Partial("_ThreadTimetable")
</div>

@Html.Partial("_SelectThreadDialog")

@{ var model = new JsonNetResult(Model);}
<script>
    window.pageModel = @Html.Raw(model.JsonText);
</script>