<div id="menu11" style="overflow-y:hidden; overflow-x:hidden;">
    <ul class="nav nav-tabs" style="margin-bottom:0px;">
        <li><a href="#flowTab" data-toggle="tab">Поток</a></li>
        <li><a href="#auditoriumsTab" data-toggle="tab">Сведения к расп.</a></li>
      </ul>

     <div class="tab-content">
        <div class="tab-pane active" id="flowTab">
           @Html.Partial("NewCreate/FlowSelectInTable")
        </div>
        <div class="tab-pane" id="auditoriumsTab">
            @Html.Partial("NewCreate/ScheduleInfoSelectInTable")
        </div>
    </div>
 </div>


