<div class="col-sm-10 col-sm-offset-2" id="test2" style="position: absolute; top: 101px; padding-left: 0; padding-right: 0; overflow-x: hidden; overflow-y: visible; bottom: 50px; ">
    <table class="table table-bordered table-striped" style="margin-bottom: 0;">
        <thead>
            <tr class="info">
                <th style="min-width: 60px; width: 60px">№</th>
                <th>Пн</th>
                <th>Вт</th>
                <th>Ср</th>
                <th>Чт</th>
                <th>Пт</th>
                <th>Сб</th>
                <th>Вс</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="pair in pairs">
                <td style="min-width: 60px; width:60px;">{{pair}}</td>
                <td class="day-content"
                    ng-repeat="day in days"
                    ng-class="{full: hasFullScheduleTicket(pair, day), even: hasEvenScheduleTicket(pair, day), odd: hasOddScheduleTicket(pair, day)}"
                    data-drop="true"
                    data-jqyoui-options jqyoui-droppable="{onDrop: 'startPlaning(this, pair, day)'}">
                    <div class="schedule-card alert alert-success"
                         ng-style="{'background-color':  (isRelatedScheduleTicket(schedule) ? '#FFFFFF' : (isSelectedScheduleTicket(schedule) ? '#B4E9BA' : '#D0F1E0' ))}"
                         ng-click="select($event, schedule)"
                         ng-repeat="schedule in findScheduleTickets(pair, day)"
                         ng-class="{even: isEvenScheduleTicket(schedule), odd: isOddScheduleTicket(schedule)}"
                         data-drag="true"
                         data-jqyoui-options="{containment: '#test2', revert: 'invalid', distance: 20}"
                         jqyoui-draggable="{animate:true, onStart: 'startDragging(schedule)', onStop: 'stopDragging(schedule)'}">
                        <p style="margin: 0">
                            {{schedule.id}}
                        </p>
                        <p style="margin: 0">
                            {{schedule.tutorialName}}, {{schedule.tutorialTypeName}}., {{schedule.buildingName}}. {{schedule.auditoriumNumber}}
                        </p>
                        <p style="margin: 0">
                            {{schedule.lecturerName}}
                        </p>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>