<script type="text/ng-template" id="confirmation.html">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h4><i class="glyphicon glyphicon-question-sign"></i> {{confirm.content}}</h4>
            </div>
            <div class="modal-footer">
                <button ng-click="confirm.ok()" class="btn btn-success" ng-disabled="form.$invalid"><i class="icon-white icon-ok"></i> OK</button>
                <button class="btn" ng-click="confirm.cancel()">Отмена</button>
            </div>
        </div>
    </div>
</script>