<!-- Multiselect Downdrops-->
<select id="branchesDownDrop" style="z-index:91;display:none; right:0px;" size="10" multiple data-bind="options: $root.branches, optionsText: 'Name', selectedOptions: $root.currentBranches">
    <option></option>
</select>

<select id="facultiesDownDrop" style="z-index:91;display:none; right:0px;" size="10" data-bind="options: $root.faculties, optionsText: 'Name', selectedOptions: $root.currentFaculties">
    <option></option>
</select>

<select id="specialitiesDownDrop" style="z-index:91;display:none; right:0px;" size="10" multiple  data-bind="options: $root.specialities, optionsText: 'Name', selectedOptions: $root.currentSpecialities">
    <option></option>
</select>

<select id="coursesDownDrop" style="z-index:91;display:none; right:0px;" size="6" multiple  data-bind="options: $root.courses, optionsText: 'Name', selectedOptions: $root.currentCourses">
    <option></option>
  </select>

<select id="groupsDownDrop" style="z-index:91;display:none; right:0px;" size="8" multiple  data-bind="options: $root.groups, optionsText: 'Code',selectedOptions: $root.currentGroups">
    <option></option>
</select>