<div class="row-fluid" style="position: absolute; left: 0px; top: 90px; bottom:0; overflow-y: scroll;">
    <table class="table table-bordered table-striped" style="margin-bottom: 0" ng-show="times.length > 0">
        <thead>
            <tr class="info">
                <th style="min-width: 60px; width: 60px">Время</th>
                <th>Пн</th>
                <th>Вт</th>
                <th>Ср</th>
                <th>Чт</th>
                <th>Пт</th>
                <th>Сб</th>
                <th>Вс</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="time in times">
                <td style="min-width: 60px; width:60px;">{{moment(time.Start, 'HH:mm:ss').format('HH:mm')}}<br />{{moment(time.End, 'HH:mm:ss').format('HH:mm')}}</td>
                <td class="day-content" ng-class="{full: hasFullScheduleTicket(time, 1), even: hasEvenScheduleTicket(time, 1), odd: hasOddScheduleTicket(time, 1)}">
                    <div class="schedule-card alert alert-success"
                         ng-repeat="schedule in findScheduleTickets(time, 1)"
                         ng-class="{even: isEvenScheduleTicket(schedule), odd: isOddScheduleTicket(schedule)}">
                        <p style="margin: 0">
                            {{schedule.TutorialName}}, {{schedule.TutorialTypeName}}., {{schedule.BuildingName}}. {{schedule.AuditoriumNumber}}
                        </p>
                        <p style="margin: 0">
                            {{schedule.LecturerName}}
                        </p>
                        <p style="margin: 0">
                            {{schedule.GroupCodes.join()}}
                         </p>
                    </div>
                </td>
                <td class="day-content" ng-class="{full: hasFullScheduleTicket(time, 2), even: hasEvenScheduleTicket(time, 2), odd: hasOddScheduleTicket(time, 2)}">
                    <div class="schedule-card alert alert-success"
                         ng-repeat="schedule in findScheduleTickets(time, 2)"
                         ng-class="{even: isEvenScheduleTicket(schedule), odd: isOddScheduleTicket(schedule)}">
                        <p style="margin: 0">
                            {{schedule.TutorialName}}, {{schedule.TutorialTypeName}}., {{schedule.BuildingName}}. {{schedule.AuditoriumNumber}}
                        </p>
                        <p style="margin: 0">
                            {{schedule.LecturerName}}
                        </p>
                        <p style="margin: 0">
                            {{schedule.GroupCodes.join()}}
                         </p>
                    </div>
                </td>
                <td class="day-content" ng-class="{full: hasFullScheduleTicket(time, 3), even: hasEvenScheduleTicket(time, 3), odd: hasOddScheduleTicket(time, 3)}">
                    <div class="schedule-card alert alert-success"
                         ng-repeat="schedule in findScheduleTickets(time, 3)"
                         ng-class="{even: isEvenScheduleTicket(schedule), odd: isOddScheduleTicket(schedule)}">
                        <p style="margin: 0">
                            {{schedule.TutorialName}}, {{schedule.TutorialTypeName}}., {{schedule.BuildingName}}. {{schedule.AuditoriumNumber}}
                        </p>
                        <p style="margin: 0">
                            {{schedule.LecturerName}}
                        </p>
                        <p style="margin: 0">
                            {{schedule.GroupCodes.join()}}
                         </p>
                    </div>
                </td>
                <td class="day-content" ng-class="{full: hasFullScheduleTicket(time, 4), even: hasEvenScheduleTicket(time, 4), odd: hasOddScheduleTicket(time, 4)}">
                    <div class="schedule-card alert alert-success"
                         ng-repeat="schedule in findScheduleTickets(time, 4)"
                         ng-class="{even: isEvenScheduleTicket(schedule), odd: isOddScheduleTicket(schedule)}">
                        <p style="margin: 0">
                            {{schedule.TutorialName}}, {{schedule.TutorialTypeName}}., {{schedule.BuildingName}}. {{schedule.AuditoriumNumber}}
                        </p>
                        <p style="margin: 0">
                            {{schedule.LecturerName}}
                        </p>
                        <p style="margin: 0">
                            {{schedule.GroupCodes.join()}}
                         </p>
                    </div>
                </td>
                <td class="day-content" ng-class="{full: hasFullScheduleTicket(time, 5), even: hasEvenScheduleTicket(time, 5), odd: hasOddScheduleTicket(time, 5)}">
                    <div class="schedule-card alert alert-success"
                         ng-repeat="schedule in findScheduleTickets(time, 5)"
                         ng-class="{even: isEvenScheduleTicket(schedule), odd: isOddScheduleTicket(schedule)}">
                        <p style="margin: 0">
                            {{schedule.TutorialName}}, {{schedule.TutorialTypeName}}., {{schedule.BuildingName}}. {{schedule.AuditoriumNumber}}
                        </p>
                        <p style="margin: 0">
                            {{schedule.LecturerName}}
                        </p>
                        <p style="margin: 0">
                            {{schedule.GroupCodes.join()}}
                        </p>
                    </div>
                </td>
                <td class="day-content" ng-class="{full: hasFullScheduleTicket(time, 6), even: hasEvenScheduleTicket(time, 6), odd: hasOddScheduleTicket(time, 6)}">
                    <div class="schedule-card alert alert-success"
                         ng-repeat="schedule in findScheduleTickets(time, 6)"
                         ng-class="{even: isEvenScheduleTicket(schedule), odd: isOddScheduleTicket(schedule)}">
                        <p style="margin: 0">
                            {{schedule.TutorialName}}, {{schedule.TutorialTypeName}}., {{schedule.BuildingName}}. {{schedule.AuditoriumNumber}}
                        </p>
                        <p style="margin: 0">
                            {{schedule.LecturerName}}
                        </p>
                        <p style="margin: 0">
                            {{schedule.GroupCodes.join()}}
                         </p>
                    </div>
                </td>
                <td class="day-content" ng-class="{full: hasFullScheduleTicket(time, 7), even: hasEvenScheduleTicket(time, 7), odd: hasOddScheduleTicket(time, 7)}">
                    <div class="schedule-card alert alert-success"
                         ng-repeat="schedule in findScheduleTickets(time, 7)"
                         ng-class="{even: isEvenScheduleTicket(schedule), odd: isOddScheduleTicket(schedule)}">
                        <p style="margin: 0">
                            {{schedule.TutorialName}}, {{schedule.TutorialTypeName}}., {{schedule.BuildingName}}. {{schedule.AuditoriumNumber}}
                        </p>
                        <p style="margin: 0">
                            {{schedule.LecturerName}}
                        </p>
                        <p style="margin: 0">
                            {{schedule.GroupCodes.join()}}
                         </p>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>