@using Newtonsoft.Json
<div class="navbar navbar-fixed-top" style="top:41px;">
    <div class="navbar-inner">
        <div class="container">
            <form class="navbar-search pull-left">
                <select class="span5" required="required" ng-change="loadAuditoriums(building)" ng-model="building" ng-options="building.Id as building.Name for building in pageModel.Buildings"></select>
                <select class="span2" required="required" ng-change="loadAuditoriumSchedule()" ng-model="auditorium" ng-options="building.Id as building.Name for building in auditoriums"></select>
                <select class="span2" required="required" ng-change="loadAuditoriumSchedule()" ng-model="studyYear" ng-options="studyYear.Id as studyYear.Name for studyYear in pageModel.StudyYears"></select>
                <select class="span2" required="required" ng-change="loadAuditoriumSchedule()"  ng-model="semester" ng-options="semester.Id as semester.Name for semester in pageModel.Semesters"></select>
                @*<span class="badge badge-important" ng-init="title='Часов в неделю'" bs-tooltip="title" data-original-title title>{{foundLecturersCount}}</span>*@
            </form>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row-fluid" style="position: absolute; left: 0px; top: 90px; bottom:0; overflow-y: scroll;">
        <table class="table table-bordered table-striped" style="margin-bottom: 0">
            <thead>
                <tr class="info">
                    <th style="min-width: 60px; width: 60px">Время</th>
                    <th>Пн</th>
                    <th>Вт</th>
                    <th>Ср</th>
                    <th>Чт</th>
                    <th>Пт</th>
                    <th>Сб</th>
                    <th>Вс</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="time in times">
                    <td style="min-width: 60px; width:60px;">{{moment(time.Start, 'HH:mm:ss').format('HH:mm')}}<br />{{moment(time.End, 'HH:mm:ss').format('HH:mm')}}</td>
                    <td style="padding: 1px;" class="day-content" ng-init="card = findScheduleTicket(time.Id, 1)">
                        <div class="scheduleCard">{{card[0].TutorialName}}</div>
                    </td>
                    <td class="day-content">
                        <div class="scheduleCard"></div>
                    </td>
                    <td class="day-content">
                        <div class="scheduleCard"></div>
                    </td>
                    <td class="day-content">
                        <div class="scheduleCard"></div>
                    </td>
                    <td class="day-content">
                        <div class="scheduleCard"></div>
                    </td>
                    <td class="day-content">
                        <div class="scheduleCard"></div>
                    </td>
                    <td class="day-content">
                        <div class="scheduleCard"></div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script>
    window.pageModel = JSON.parse('@Html.Raw(JsonConvert.SerializeObject(Model))');
</script>
