<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IDataService" closeTimeout="00:20:00"
          openTimeout="00:01:00" receiveTimeout="00:20:00" sendTimeout="00:20:00"
          maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000"
            maxArrayLength="200000000" />
        </binding>
        <binding name="BasicHttpBinding_IUserService" />
        <binding name="DataServiceEndpoint" />
        <binding name="DataServiceEndpoint1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://193.232.254.196:6058/SchedulerHost/Services/UserService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserService"
        contract="UserService.IUserService" name="BasicHttpBinding_IUserService" />
      <endpoint address="http://193.232.254.196:6058/SchedulerHost/Services/DataService.svc"
        binding="basicHttpBinding" bindingConfiguration="DataServiceEndpoint1"
        contract="NewDataService.IDataService" name="DataServiceEndpoint" />
      <endpoint address="http://193.232.254.196:6058/SchedulerHostOld/Services/DataService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDataService"
        contract="DataService.IDataService" name="DataServiceEndpoint1" />
    </client>
  </system.serviceModel>
</configuration>