<div id="progressbar" class="modal hide">
    <div class="progress progress-striped active" style="padding:0px; margin:0px;">
        <div class="bar" style="width: 100%; color:white;">Загрузка...</div>
    </div>
</div>