@using Newtonsoft.Json

<div class="navbar navbar-fixed-top" style="top:41px;">
    <div class="navbar-inner">
        <div class="container-fluid">
            <ul class="nav pull-left">
                <li>
                    <a><b>Сведения к расписанию для потока</b></a>
                </li>
            </ul>
            <form class="navbar-form pull-left">
                <button class="btn" ng-disabled="!creator.selected" ng-click="creator.edit(this)" ng-init="title='Редактировать'" bs-tooltip="title" data-original-title><i class="icon icon-pencil"></i></button>
                <button class="btn" ng-disabled="!creator.selected" ng-click="creator.unplan(this)" ng-init="title='Удалить'" bs-tooltip="title" data-original-title><i class="icon icon-trash"></i></button>
                <button class="btn" ng-init="title='Распечатать таблицу'" bs-tooltip="title" data-original-title><i class="icon icon-print"></i></button>
                <div class="btn-group" bs-buttons-radio>
                    <button type="button" class="btn">Учебное</button>
                    <button type="button" class="btn">Сессия</button>
                    <button type="button" class="btn">Консультации</button>
                </div>
            </form>
            <ul class="nav pull-right">
                <li>
                    <a href="" ng-click="thread.modal.show(this)">
                        Параметры потока:
                        <b>{{thread.branchName}}</b>,
                        <b>{{thread.facultyName}}</b>,
                        <b>{{thread.courseName}}</b>,
                        <b>{{thread.groupNames}}</b>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container-fluid" style="padding-right: 0; padding-left: 0;">
    <div class="row-fluid" style="margin-top: 5px;">
        <div class="span2" id="test1" style="position: absolute; top: 81px; overflow-scrolling:touch; overflow-x: hidden; bottom: 40px;">
            <table class="table table-bordered table-striped" style="margin-bottom: 0px;">
                <tbody>
                    <tr ng-repeat="scheduleInfo in pageModel.ScheduleInfoes">
                        <td data-drag="true" data-jqyoui-options="{stack: '.row-fluid', revert: 'invalid'}" jqyoui-draggable="{animate:true, onStart: 'creator.startDragging(scheduleInfo)', onStop: 'creator.stopDragging()'}" data-drop="true">
                            <p>
                                {{scheduleInfo.TutorialName}}, {{scheduleInfo.TutorialType}}
                                <span class="label label-info" ng-init="title='Часов в неделю'" bs-tooltip="title" data-original-title title>{{scheduleInfo.HoursPerWeek}}</span>
                                <span class="label label-success" ng-init="title='Уже запланировано'" bs-tooltip="title" data-original-title title>{{scheduleInfo.HoursPassed}}</span>
                            </p>
                            {{scheduleInfo.Lecturer}}
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="alert alert-error" style="margin: 10px;" ng-hide="thread.isValid()">
                <a href="" ng-click="thread.modal.show(this)">Укажите поток для сведений</a>
            </div>
            <div class="alert alert-info" style="margin: 10px;" ng-show="thread.isValid() && creator.scheduleInfoes.length == 0">
                Сведений к расписанию нет
            </div>
        </div>
        <div class="span10" id="test2" style="width: 84.97872340425532%; position: absolute; top: 81px; left: 14.893617021276595%; overflow-x: scroll; overflow-y: visible; bottom: 25px; ">
            <table class="table table-bordered table-striped" style="margin-bottom: 0;">
                <thead>
                    <tr class="info">
                        <th style="min-width: 60px; width: 60px">№ пары</th>
                        <th>Пн</th>
                        <th>Вт</th>
                        <th>Ср</th>
                        <th>Чт</th>
                        <th>Пт</th>
                        <th>Сб</th>
                        <th>Вс</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="pair in pageModel.Pairs">
                        <td style="min-width: 60px; width:60px;">{{pair}}</td>
                        <td class="day-content"
                            ng-class="{full: creator.hasFullScheduleTicket(pair, 1), even: creator.hasEvenScheduleTicket(pair, 1), odd: creator.hasOddScheduleTicket(pair, 1)}"
                            ng-click="creator.dayCellClick($event)"
                            data-drop="true"
                            data-jqyoui-options jqyoui-droppable="{onDrop: 'creator.startPlaning(this, pair, 1)'}">
                            <div class="schedule-card alert alert-success"
                                 ng-repeat="schedule in creator.findScheduleTickets(pair, 1)"
                                 ng-class="{even: creator.isEvenScheduleTicket(schedule), odd: creator.isOddScheduleTicket(schedule)}"
                                 data-drag="true"
                                 data-jqyoui-options="{containment: '#test2', revert: 'invalid', distance: 20}"
                                 jqyoui-draggable="{animate:true, onStart: 'creator.startDragging(scheduleInfo)', onStop: 'creator.stopDragging()'}">
                                <p style="margin: 0">
                                    {{schedule.TimeId}}
                                </p>
                                <p style="margin: 0">
                                    {{schedule.TutorialName}}, {{schedule.TutorialTypeName}}., {{schedule.BuildingName}}. {{schedule.AuditoriumNumber}}
                                </p>
                                <p style="margin: 0">
                                    {{schedule.LecturerName}}
                                </p>
                            </div>
                        </td>
                        <td class="day-content"
                            ng-class="{full: creator.hasFullScheduleTicket(pair, 2), even: creator.hasEvenScheduleTicket(pair, 2), odd: creator.hasOddScheduleTicket(pair, 2)}"
                            ng-click="creator.dayCellClick($event)"
                            data-drop="true"
                            data-jqyoui-options jqyoui-droppable="{onDrop: 'creator.startPlaning(this, pair, 2)'}">
                            <div class="schedule-card alert alert-success"
                                 ng-repeat="schedule in creator.findScheduleTickets(pair, 2)"
                                 ng-class="{even: creator.isEvenScheduleTicket(schedule), odd: creator.isOddScheduleTicket(schedule)}"
                                 data-drag="true"
                                 data-jqyoui-options="{containment: '#test2', revert: 'invalid', distance: 20}"
                                 jqyoui-draggable="{animate:true, onStart: 'creator.startDragging(schedule)', onStop: 'creator.stopDragging()'}">
                                <p style="margin: 0">
                                    {{schedule.TimeId}}
                                </p>
                                <p style="margin: 0">
                                    {{schedule.TutorialName}}, {{schedule.TutorialTypeName}}., {{schedule.BuildingName}}. {{schedule.AuditoriumNumber}}
                                </p>
                                <p style="margin: 0">
                                    {{schedule.LecturerName}}
                                </p>
                            </div>
                        </td>
                        <td class="day-content"
                            ng-class="{full: creator.hasFullScheduleTicket(pair, 3), even: creator.hasEvenScheduleTicket(pair, 3), odd: creator.hasOddScheduleTicket(pair, 3)}"
                            ng-click="creator.dayCellClick($event)"
                            data-drop="true"
                            data-jqyoui-options jqyoui-droppable="{onDrop: 'creator.startPlaning(this, pair, 3)'}">
                            <div class="schedule-card alert alert-success"
                                 ng-repeat="schedule in creator.findScheduleTickets(pair, 3)"
                                 ng-class="{even: creator.isEvenScheduleTicket(schedule), odd: creator.isOddScheduleTicket(schedule)}"
                                 data-drag="true"
                                 data-jqyoui-options="{containment: '#test2', revert: 'invalid', distance: 20}"
                                 jqyoui-draggable="{animate:true, onStart: 'creator.startDragging(scheduleInfo)', onStop: 'creator.stopDragging()'}">
                                <p style="margin: 0">
                                    {{schedule.TimeId}}
                                </p>
                                <p style="margin: 0">
                                    {{schedule.TutorialName}}, {{schedule.TutorialTypeName}}., {{schedule.BuildingName}}. {{schedule.AuditoriumNumber}}
                                </p>
                                <p style="margin: 0">
                                    {{schedule.LecturerName}}
                                </p>
                            </div>
                        </td>
                        <td class="day-content"
                            ng-class="{full: creator.hasFullScheduleTicket(pair, 4), even: creator.hasEvenScheduleTicket(pair, 4), odd: creator.hasOddScheduleTicket(pair, 4)}"
                            ng-click="creator.dayCellClick($event)"
                            data-drop="true"
                            data-jqyoui-options jqyoui-droppable="{onDrop: 'creator.startPlaning(this, pair, 4)'}">
                            <div class="schedule-card alert alert-success"
                                 ng-repeat="schedule in creator.findScheduleTickets(pair, 4)"
                                 ng-class="{even: creator.isEvenScheduleTicket(schedule), odd: creator.isOddScheduleTicket(schedule)}"
                                 data-drag="true"
                                 data-jqyoui-options="{containment: '#test2', revert: 'invalid', distance: 20}"
                                 jqyoui-draggable="{animate:true, onStart: 'creator.startDragging(scheduleInfo)', onStop: 'creator.stopDragging()'}">
                                <p style="margin: 0">
                                    {{schedule.TutorialName}}, {{schedule.TutorialTypeName}}., {{schedule.BuildingName}}. {{schedule.AuditoriumNumber}}
                                </p>
                                <p style="margin: 0">
                                    {{schedule.LecturerName}}
                                </p>
                            </div>
                        </td>
                        <td class="day-content"
                            ng-class="{full: creator.hasFullScheduleTicket(pair, 5), even: creator.hasEvenScheduleTicket(pair, 5), odd: creator.hasOddScheduleTicket(pair, 5)}"
                            ng-click="creator.dayCellClick($event)"
                            data-drop="true"
                            data-jqyoui-options jqyoui-droppable="{onDrop: 'creator.startPlaning(this, pair, 5)'}">
                            <div class="schedule-card alert alert-success"
                                 ng-repeat="schedule in creator.findScheduleTickets(pair, 5)"
                                 ng-class="{even: creator.isEvenScheduleTicket(schedule), odd: creator.isOddScheduleTicket(schedule)}"
                                 data-drag="true"
                                 data-jqyoui-options="{containment: '#test2', revert: 'invalid', distance: 20}"
                                 jqyoui-draggable="{animate:true, onStart: 'creator.startDragging(scheduleInfo)', onStop: 'creator.stopDragging()'}">
                                <p style="margin: 0">
                                    {{schedule.TutorialName}}, {{schedule.TutorialTypeName}}., {{schedule.BuildingName}}. {{schedule.AuditoriumNumber}}
                                </p>
                                <p style="margin: 0">
                                    {{schedule.LecturerName}}
                                </p>
                            </div>
                        </td>
                        <td class="day-content"
                            ng-class="{full: creator.hasFullScheduleTicket(pair, 6), even: creator.hasEvenScheduleTicket(pair, 6), odd: creator.hasOddScheduleTicket(pair, 6)}"
                            ng-click="creator.dayCellClick($event)"
                            data-drop="true"
                            data-jqyoui-options jqyoui-droppable="{onDrop: 'creator.startPlaning(this, pair, 6)'}">
                            <div class="schedule-card alert alert-success"
                                 ng-repeat="schedule in creator.findScheduleTickets(pair, 6)"
                                 ng-class="{even: creator.isEvenScheduleTicket(schedule), odd: creator.isOddScheduleTicket(schedule)}"
                                 data-drag="true"
                                 data-jqyoui-options="{containment: '#test2', revert: 'invalid', distance: 20}"
                                 jqyoui-draggable="{animate:true, onStart: 'creator.startDragging(scheduleInfo)', onStop: 'creator.stopDragging()'}">
                                <p style="margin: 0">
                                    {{schedule.TutorialName}}, {{schedule.TutorialTypeName}}., {{schedule.BuildingName}}. {{schedule.AuditoriumNumber}}
                                </p>
                                <p style="margin: 0">
                                    {{schedule.LecturerName}}
                                </p>
                            </div>
                        </td>
                        <td class="day-content"
                            ng-class="{full: creator.hasFullScheduleTicket(pair, 7), even: creator.hasEvenScheduleTicket(pair, 7), odd: creator.hasOddScheduleTicket(pair, 7)}"
                            ng-click="creator.dayCellClick($event)"
                            data-drop="true"
                            data-jqyoui-options jqyoui-droppable="{onDrop: 'creator.startPlaning(this, pair, 7)'}">
                            <div class="schedule-card alert alert-success"
                                 ng-repeat="schedule in creator.findScheduleTickets(pair, 7)"
                                 ng-class="{even: creator.isEvenScheduleTicket(schedule), odd: creator.isOddScheduleTicket(schedule)}"
                                 data-drag="true"
                                 data-jqyoui-options="{containment: '#test2', revert: 'invalid', distance: 20}"
                                 jqyoui-draggable="{animate:true, onStart: 'creator.startDragging(scheduleInfo)', onStop: 'creator.stopDragging()'}">
                                <p style="margin: 0">
                                    {{schedule.TutorialName}}, {{schedule.TutorialTypeName}}., {{schedule.BuildingName}}. {{schedule.AuditoriumNumber}}
                                </p>
                                <p style="margin: 0">
                                    {{schedule.LecturerName}}
                                </p>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div><!--/span-->
    </div><!--/row-->
</div>
<div class="navbar navbar-fixed-bottom">
    <div class="navbar-inner">
        <div class="container-fluid">
            <ul class="nav pull-left">
                <li>
                    
                </li>
            </ul>
            <ul class="nav pull-right">
                <li>
                    <a href="" ng-click="settings.modal.show(this)">
                        Параметры расписания:
                        <b>{{settings.getStudyYearName()}}</b>,
                        <b>{{settings.getSemesterName()}}</b>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>


<script>
    window.pageModel = JSON.parse('@Html.Raw(JsonConvert.SerializeObject(Model))');
</script>