<nav class="navbar navbar-default navbar-fixed-top navbar-child" role="navigation" style="top:51px;" >
    <div class="navbar-inner">
        <div class="container-fluid">
            <ul class="nav navbar-nav pull-left col-sm-2">
                <li>
                    <a><b>Сведения к расписанию для потока</b></a>
                </li>
            </ul>
            <form class="navbar-form navbar-left" style="padding: 0;">
                <button class="btn" ng-disabled="!selectedItem" ng-click="edit()"><i class="glyphicon glyphicon-pencil"></i></button>
                <button class="btn" ng-disabled="!selectedItem" ng-click="unplan()"><i class="glyphicon glyphicon-trash"></i></button>
                <button class="btn"><i class="glyphicon glyphicon-print"></i></button>
                <button class="btn" disabled="disabled"><i class="glyphicon glyphicon-calendar"></i></button>
            </form>
            <ul class="nav navbar-nav pull-right">
                <li>
                    <a href="" ng-click="showThreadDialog()">
                        Параметры потока:
                        <b>{{currentBranch.name}}</b>,
                        <b>{{currentFaculty.name}}</b>,
                        <b>{{currentStudyTypeNames}}</b>
                        <b>{{currentCourse.name}}</b>,
                        <b>{{currentGroupNames}}</b>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>