<!-- Free Auditoriums Form -->
<div id="auditoriumdialog" title="Свободные аудитории" style="z-index:9999; overflow-x:hidden;">
  <select style="width:100%"  size="8" data-placeholder="Выберите аудиторию" class="span5" id="auditorium1" data-bind="options: $root.auditoriums, optionsText: 'Number', value: $root.currentAuditorium">
            <option></option>
  </select>
  <input type="button" class="btn" value="Выбрать" data-bind="click: $root.FreeAuditoriumFormOkButton " />
  <input type="button" class="btn " value="Отмена" data-bind="click: $root.FreeAuditoriumFormCancelButton " />
</div>