<select style="width:100%" class="span5" id="situtorialtypes" data-bind="options: $root.tutorialtypes, optionsText: 'Name', value: $root.currentSiTutorialType">
                <option></option>
</select>