@using Newtonsoft.Json
@using Timetable.Data.Models.Personalization
@{
    Layout = "~/Areas/Dispatcher/Views/Shared/_NewLayout.cshtml";
}

<script>
    window.pageModel = JSON.parse('@Html.Raw(JsonConvert.SerializeObject(Model))');
</script>

<nav class="navbar navbar-default navbar-fixed-top" bs-navbar style="z-index: 1040;" ng-controller="navbarController">
    <div class="navbar-inner">
        <ul class="nav navbar-nav">
            <li data-match-route="/scheduler"><a href="#/">Создание расписаний</a></li>
            <li data-match-route="/lecturerschedule"><a href="#/lecturerschedule">Расписание преподавателей</a></li>
            <li class="dropdown" data-match-route="/auditoriumschedule.*">
                <a href="" class="dropdown-toggle" data-toggle="dropdown">Расписание аудиторий <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li data-match-route="/auditoriumschedule"><a href="#/auditoriumschedule/">Подробное расписание для аудитории</a></li>
                    <li data-match-route="/auditoriumschedule/general"><a href="#/auditoriumschedule/general">Общее расписание всех аудиторий корпуса</a></li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav pull-right">
            <li>
                <a href="" class="dropdown-toggle" data-toggle="dropdown">{{pageModel.UserName}} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    @if (Model.UserType != null && Model.UserType == UserRoleType.Administration)
                    {
                        <li><a href="#/settings">Настройки</a></li>
                    }
                    <li><a href="@Url.Action("Logout", "Auth")">Выход</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
<div id="content" ng-view style="margin-top: 41px;">
</div>








