<div class="navbar navbar-fixed-top" style="top:41px;" ng-show="schedules.length > 0">
    <div class="navbar-inner">
        <div class="container">
            <form class="navbar-search pull-left offset2">
                @*<select class="span5" required="required" ng-change="loadAuditoriums(building)" ng-model="building" ng-options="building.Id as building.Name for building in pageModel.Buildings"></select>
                    <select class="span2" required="required" ng-change="loadAuditoriumSchedule()" ng-model="auditorium" ng-options="building.Id as building.Name for building in auditoriums"></select>*@
            </form>
        </div>
    </div>
</div>