
<div class="modal-header">
    <button type="button" class="close" ng-click="settings.modal.close()">×</button>
    <h3 id="myModalLabel">Параметры расписания</h3>
</div>
<div class="modal-body">
    <label class="control-label">Учебный год</label>
    <select class="span8" required="required" ng-model="settings.modal.studyYear" ng-options="studyYear.Id as studyYear.Name for studyYear in settings.modal.studyYears"></select>

    <label class="control-label">Семестр</label>
    <select class="span8" required="required" ng-model="settings.modal.semestr" ng-options="semestr.Id as semestr.Name for semestr in settings.modal.semestrs"></select>

    <label class="control-label">Корпус</label>
    <select class="span8" required="required" ng-model="settings.modal.building" ng-options="building.Id as building.Name for building in settings.modal.buildings"></select>

    <div class="alert alert-error" ng-show="settings.modal.errorMessage">{{settings.modal.errorMessage}}</div>
</div>
<div class="modal-footer">
    <a class="btn btn-success" ng-click="settings.modal.apply(settings)">Применить</a>&nbsp;
    <button ng-click="settings.modal.close()">Закрыть</button>
</div>
