@using Timetable.Site.Infrastructure
@Html.Partial("_ChildNavbar")

<div class="container-fluid">
    @Html.Partial("_AuditoriumTimetable")
</div>

@{ var model = new JsonNetResult(Model);}
<script>
    window.pageModel = JSON.parse('@Html.Raw(model.JsonText.Replace("\\","\\\\"))');
</script>
