<select style="width:100%"  data-placeholder="Выберите преподавателя" class="span5" id="lecturers1" data-bind="options: $root.lecturers, optionsText: 'Name', value: $root.currentLecturer">
                <option></option>
</select>