@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Students/Views/Shared/_Layout.cshtml";
}

<nav class="navbar navbar-default navbar-fixed-top" bs-navbar style="z-index: 1040;">
    <div class="navbar-inner">
        <ul class="nav navbar-nav">
            <li data-match-route="/threadschedule"><a href="#/threadschedule">Расписание групп</a></li>
            <li data-match-route="/lecturerschedule"><a href="#/lecturerschedule">Расписание преподавателей</a></li>
            <li data-match-route="/auditoriumschedule"><a href="#/auditoriumschedule">Расписание аудиторий</a></li>
        </ul>
    </div>
</nav>
<div id="content" ng-view style="margin-top: 41px;">
</div>